<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="author" content="电子科技大学沙河管理委员会">
   <meta name="keywords" content="uestc，电子科技大学，沙河校区">
   <script type="text/javascript" src="js/jquery-1.7.2.js"></script>
   <script type="text/javascript" src="js/addload.js"></script>
   <script type="text/javascript" src="js/nav.js" charset="utf-8"></script>
   <script type="text/javascript" src="js/clock.js" charset="utf-8"></script>
   <title>沙河管理委员会</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
</head>

<body id="body">
  <div id="header">
    <div id="nav">
	  <ul id="jsnav">
	    <li><a href="#" target="_blank">首页</a></li>
		<li><a href="#" target="_blank">校区概况</a></li>
	    <li><a class="action">组织机构</a>
	      <ul>
	      
		    <li><a href="#" target="_blank">部门简介</a></li>
            <li><a href="#" target="_blank">机构设置</a></li>
            <li><a href="#" target="_blank">机构职责</a></li>
            <li><a href="#" target="_blank">部门领导</a></li>
          </ul>
	    </li>
		<li><a href="#" target="_blank">规章制度</a></li>
		<li><a class="action">办事大厅</a>
		  <ul>
		    <li><a href="#" target="_blank">服务指南</a></li>
			<li><a href="#" target="_blank">快速通道</a></li>
			<li><a href="#" target="_blank">电子地图</a></li>
		  </ul>
		</li>
		<li><a href="#" target="_blank">访问留言</a></li>
		<li><a href="#" target="_blank">资料下载</a></li>
		<li><a href="#" target="_blank">管理登入</a></li>
		<li><a id="none"></a></li>
	  </ul>
	</div>
  </div>
  <div id="head-bar">
    <span id="clock">
	今天是
	<span id="time">
	</span>
	</span>
	<span id="location">
	</span>
	<span id="search">
	</span>
  </div>
  <div class="content"><!--以下是content-->
    <div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<!-- Elastislide Carousel Thumbnail Viewer -->
                        <h1 style="font-size:24px; margin-left:22px; margin-top:10px;">沙河风采 >></h1>
						<div class="es-carousel-wrapper">
                          
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
									<li><a href="#"><img src="images/thumbs/1.jpg" data-large="images/a.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
									<li><a href="#"><img src="images/thumbs/2.jpg" data-large="images/b.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
									<li><a href="#"><img src="images/thumbs/3.jpg" data-large="images/c.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
									<li><a href="#"><img src="images/thumbs/4.jpg" data-large="images/d.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
					</ul>
							</div>
						</div>
						<!-- End Elastislide Carousel Thumbnail Viewer -->
					</div><!-- rg-thumbs -->
				</div><!-- rg-gallery -->
     
  </div><!--content结束-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.corner.js"></script>
<script type="text/javascript" src="js/addload.js"></script>
<script type="text/javascript" src="js/nav.js" charset="utf-8"></script>
<script type="text/javascript" src="js/clock.js" charset="utf-8"></script>
<script type="text/javascript">$(document).ready(function  () {$('.corner').corner('6px');})</script>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.elastislide.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>
  <div id="footer">
    <p>电子科技大学沙河管理委员会@版权所有<br/>沙河校区管理委员会地址:成都市建设北路二段四号 沙河校区主楼中339室、336室 邮编:610054<br/>联系电话：028-83201875、028-83202399</p>
 </div>
</body>
</html>
