table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}


table.gridtable td.ptl_t{
    background-color:#000;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    font-size:20px;
}

table.gridtable td.ptl:hover{
    cursor:pointer;
}

