@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; font-size:14px; background:#717171; text-align:center;}
*{ margin:0px; padding:0px;}
div{ margin:0px; padding:0px;}
a{ text-decoration:none; outline:none}
ul{ list-style-type:none; margin:0px; padding:0px;}
li{ margin:0px; padding:0px;}
form{ margin:0px; padding:0px;}
input{ margin:0px; padding:0px;}

.container{ width:960px; height:650px; margin:200px auto; }
.main{ width:650px; height:340px; margin:0px auto; background:url(../images/bg.gif) no-repeat; position:relative;}
.text-type{ width:260px; height:80px; position: absolute; top:75px; left:260px;}
 .text-type table td{ color:#fff; font-weight:bold;}
.text-type table input{ background:url(../images/d_03.gif) no-repeat; width:150px; height:28px; border:none; 
         text-align: left; padding-left:5px; font-size:12px; color:#818282; line-height:28px;}
		 
		 
.bnt{ width:270px; height:40px; position: absolute; top:185px; left:320px; }
.bnt a{ display:block; height:30px; width:80px; float:left; line-height:30px; color:#fff; font-weight:bold; }
.bnt input{ display:block; height:30px; width:80px; float:left; line-height:30px; color:#fff; font-weight:bold; }


.login{ width:80px; height:30px; position:absolute; top:190px; left:145px  }

.logo{ height:40px; width:230px; position:absolute; top:300px; left:230px; }