@charset "UTF-8";
/*
	Background-Styles
*/

body{
	margin: 0px;
	padding: 0px;
	background: white;
	font-family: "微软雅黑","黑体","宋体",HELVETICA;
	color: #222;
	font-size: 12px;
}
ul,ol,dl{list-style:none;}
#main{
	background: white url(../img/background_slice.png) repeat-x;
}
#main .container{
	
}
.container{
	width: 980px !important;
	height: auto;
	margin: 0 auto;
	position: relative;
}

/*
	Text-Styles
*/

h1{
	display: block;
	font-size: 18px;
	line-height:1em;
	padding-top:15px;
}
a{
	color: #222;
	font-size: 14px;
}
a:hover{
	text-decoration: none;
}

/*
	Header-Styles
*/

#header{
	padding-top: 19px;
	padding-bottom: 3px;
}
#logo .flag{
	position: absolute;
	top: -2px;
	left: -14px;
	z-index: 9999;
}
#logo .campus{
	position: absolute;
	top: 25px;
	left: 100px;
}
.func{
	position: relative;
	margin-top: 5px;
	height: 10px;
}
ul.func-bar{
	position: relative;
	top: -10px;
	margin: 0px;
	padding: 0px;
}
ul.func-bar li{
	float: left;
	white-space:nowrap; 
}
ul.func-bar li a{
	text-decoration: none;
	position: relative;
	top: 2px;	
	padding: 2px 8px;
	font-size: 10px;
}
#nav{
	padding: 4px 120px;
	*margin-top: 35px;
}
#menu{
	white-space: nowrap;
}
#menu>li{
	width: auto;
	position: relative;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	background: transparent;
	padding: 0 18px;
	margin-left: -4px;
	white-space:nowrap; 
}
#menu>li{
	*display:inline; 
	*zoom:1;  /*兼容 ie6,7的inline-block问题*/
}
#menu>li>a {
	font-size: 16px;
	color: #ffffff;
}
#menu>li:hover{
	background: #3a3a3a;
}
#menu>li:hover ul{
	display: block;
	*z-index: 9999;
}
#menu>li:hover a{
	color: 
}
/*#menu:hover ul{
	display: block;
}*/
#menu li ul{
	display: none;
	position: absolute;
	top: 39px;
	left: -25px;
	/*width: 100px;*/
	z-index: 1000;
}
#menu li ul li{
	background-color:#322f32;
	display:block;
	border-bottom:1px solid #484548;
	padding:0;
	list-style:none;
	position:relative;
	word-wrap: break-word; 
	word-break: normal; 
}
#menu li ul li a{
	height: 40px;
	color: #ffffff;
	line-height: 40px;
	background: #3a3a3a;
	padding: 0 18px;
	width: auto;
	font-size:12px;
	text-align:center;
	text-transform:none;
	display:block;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}
#menu li ul li a:hover{
	background-color:#514c52;border-top:1px solid #322f32;border-bottom:1px solid #322f32;
}
ul.nav-bar{
	margin: 0px;
	padding: 0px;
	position: relative;
}
ul.nav-bar>li{
	float: left;
}
ul.nav-bar>li a:hover{
	background-color: #0081c2;
}
ul.nav-bar li a{
	display: block;
	text-decoration: none;
	padding: 5px 40px;
	text-align: center;
	font-size: 16px;	
	color: #ffffff;		
	font-family: 微软雅黑,Arial,宋体;
}

/*
	Block-Styles
*/

#block-feature{
 	position: relative;
 	top: -10px;
}
.image-block{
	width: 680px;
	height: 360px;
}
.right-block{
	width: 299px;
	height: 360px;
	background: white;
}
.right-block .ind-navlist{
	margin: 0;
}
.slides_container {
    width:680px;
    height:360px;
}
.ind-navlist li{
	border-bottom: 1px solid #e5e5e5;
}
.ind-navlist li.map a{
	background-position: right 0px;
}
.ind-navlist li.post a{
	background-position: right -50px;
}
.ind-navlist li.advice a{
	background-position: right -100px;
}
.ind-navlist li.order a{
	background-position: right -150px;
}
.ind-navlist li a {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	background: url(../img/nav_icon.png) no-repeat right 0;
	cursor: pointer;
}
.ind-navlist li .title {
	float: right;
	padding-right: 62px;
	font-size: 24px;
	color: #636363;
}
.ind-navlist li .text {
	padding-left: 15px;
	color: #959595;
}

.ind-navlist li .title:hover {
	opacity: 0.5;
	filter: alpha(opacity: 50);
}

.calendar {
	position: relative;
	width: 90px;
	height: 120px;
	margin: 25px 15px;
	text-align: center;
	float: left;
}
.calendar .month {
	padding: 6px 1px 3px 3px;
	font-size: 23px;
	font-weight: bold;
	background: #2a91c3;
	color: #FFF;
	width: 100%;
	height: 40px;
	float: left;
	line-height: 40px;
}
.calendar .day {
	padding: 6px 0;
	font-size: 35px;
	font-family: Arial;
	font-weight: bold;
	color: #2a91c3;
	width: 100%;
	height: 50px;
	float: left;
	border: 2px solid #d4d4d4;
	border-top: none;
	line-height: 50px;
}
.radius-up {
	border-radius: 10px 10px 0 0;
	padding-top: 5px;
}
.radius-down {
	border-radius: 0 0 10px 10px;
	padding-bottom: 5px;
}
div.time{
	width: 169px;
	height: 160px;
	float: left;
}
#week-inside {
	font-size: 25px;
	font-weight: bold;
	color: #87d2cf;
	height: 80px;
	line-height: 100px;
	text-align: center;
	text-indent: -20px;
}
#time-inside {
	height: 80px;
	color: #87d2cf;
	background: url(../img/clock.png) left 4px no-repeat;
	font-size: 35px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	text-indent: 40px;
}

/*
	News-Styles
*/
#block-news{
	margin-top: 12px;
	height: 300px;
	padding: 8px;
}
.column-1 .row-1{
	height: 20px;
	margin-bottom: 20px;
}
.column-1 {
	width: 672px;
	background: url(../img/line.png) right 50px no-repeat;
}
.column-1 div.s1{
	width: 200px;
	height: 250px;
	margin: 0;
	padding: 0;
}
.column-1 div.s2{	
	width: 220px;
	height: 250px;
	overflow: hidden;
}
.column-1 div.s2 ul li{
	list-style-image: url(../img/arrow.png);
	margin: 5px 0px;
	height: 42px;
	margin-bottom: 40px;
}
.column-1 div.s2 ul li b{

}
.column-1 div.s3{
	width: 230px;
	height: 250px;
}
.column-1 div.s3 ul li,.column-2 .tab-content li{
	list-style-image: url(../img/circle_point.png);
	margin: 5px 0;
	height: 42px;
}
.column-1 div.s3 ul li{
	font-size: 14px;
}
.column-2{
	width: 270px;
	padding: 0 10px
}
.column-2 .nav li a{
	font-size: 16px;
	font-weight: bold;
}
.column-2 .tab-content{
	position: relative;
	top: -18px;
	height:245px;
}

/*
	Footer-Styles
*/

#footer{
	background: url(../img/footer_background_slice.png) repeat-x;
	color: #aaaaaa;
	height: 150px;
}
#footer .row-1{
	position: relative;
	top: -8px;
	left: 200px;
	width: 600px;
	margin-top: 25px;
	padding: 10px 20px;
}
#footer .row-1 select{
	background: #3E3E3E;
	color: #aaaaaa;
	font-size: 13px;
}
#footer p {
	position: relative;
	top:-38px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0;
}
#footer p a {
	color: #aaaaaa;	
}

.more{
	position: absolute;
	left: 210px;
	top: 250px;
}