
a{text-decoration:none;}
table{
	border-collapse:collapse;
	border-spacing:0;
	
	}
.clear{
	clear:both;
	}

a:link {
  color:#32537E;
  text-decoration: none;
}
a:visited {
  color:#32537E;
  text-decoration: none;
}
a:hover {
  color:#FF3300;
  text-decoration: none;
}
a:active {
  color:#CCCCCC;
  text-decoration: none;
}

blockquote:before,blockquote:after, 
q:before, q:after { 
	content: ''; 
	content: none; 
	} 
:focus{outline:0;}
/*reset end*/

/*global css*/
#header,#footer,#head-bar,hr{
  width:986px;
  margin:0px auto;
}
hr{
  color:#787878;
  size:1px;
}

/*global css end*/

/*header*/
#nav{
  background:url(../images/nav-bg.jpg) repeat-x center;
  height:26px;
  border-color:#0b309e;
  border-style: solid;
  border-width:1px;
}
#jsnav
{	position:relative;
    left:70px;
    margin: 0;
	padding: 0;}

	#jsnav li
	{	float: left;
		list-style: none;
		}

	#jsnav li a
	{	display: block;
		background:url(../images/nav-a-bg.jpg) no-repeat left;
		padding: 4px 14px ;
		text-decoration: none;
		text-align:center;
		width: 78px;
		color: #d2d2d2;
		white-space: nowrap;
	    font-size:14px;
	}

	#jsnav li a:hover
	{
		color:#fff;
    }
		
		#jsnav li ul
		{	margin: 0;
			padding: 0;
			position: relative;
			top:2px;
			left:15px;
			visibility: hidden;
		}
		
			#jsnav li ul li
			{	float: none;
				display: inline;
			}
			
			#jsnav li ul li a
			{   background: #272727;
			    width:66px;
				padding: 4px 4px;
				text-align:center;
				color: #fff;
				/*透明度*/
				filter:alpha(opacity=75);
				-moz-opacity:0.75;
				-khtml-opacity: 0.75;
				opacity: 0.75; 
		    }
			
			#jsnav li ul li a:hover
			{	background: #272727;
			    color:#fff;
				/*透明度*/
				filter:alpha(opacity=90);
				-moz-opacity:0.9;
				-khtml-opacity: 0.9;
				opacity: 0.9;
			}
	#jsnav #none{
	  height:26px;
	  width:1px;
	  padding:0;
	}
/*header end*/

/*head-bar*/
#head-bar{
  height:20px;
  background:#d4d4d4;
  margin:2px auto ;
}
#clock{
  background:url(../images/time-bg.jpg) no-repeat center;
  height:18px;
  width:274px;
  display:block;
  padding:0px 4px;
  text-indent:23px;
  color:#d9ff05; 
  line-height:18px;  
}
#time{
  color:#fff;
  padding:2px 0;
}
 /*head-bar end*/
 
 /*校区概况的样式*/
 /*左侧边栏*/
#leftdiv{
	float: left;
	height: 470px;
	width: 242px;
	
	}
#leftdiv h1{
    display:block;
	font-size:16px;
	color:#333;
	border-bottom:#999 solid 1px;
	line-height:24px;
	width:240px;
	}
  /*创建corner类，方便以后的圆角修饰操作*/         
.corner{border:#999 solid 1px;
	
	}
.corner li{
	
	}
#update{
	width:240px;
	height:227px;
	background:#FFF;
	padding:0 4px;
	margin:0 0 10px 0;
    }
#update h1{background:url(../images/update_smile.jpg) no-repeat left center;text-indent:26px;}
#update a{
   display:block;
   height:20px;
   line-height:20px;
   padding:0 10px;
   max-width:220px;
   overflow:hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
}
#update ul{margin-top:6px;}
#update a:hover{color:#000;}
#quicklink{
	width:240px;
	height:227px;
	background:#FFF;
	padding:0 4px;
    }
#quicklink h1{background:url(../images/quicklink_go.jpg) no-repeat left center;text-indent:26px;}
 /*左侧边栏 end*/
#rightdiv{
	float:right;
	width:686px;
	min-height:450px;
	background:#fff;
	padding:10px;
	}	
#rightdiv h1{
	font-size:16px;
	color:#333;
	border-bottom:#999 solid 1px;
	line-height:24px;
	width:686px;
	text-align:center;
	margin-top:-10px;
	}
#fwzn_h1{
  background:url(../images/fwzn_h1.gif) no-repeat 290px center;
}


 /*校区概况的样式——end*/
 #content{
background-image: -moz-linear-gradient(top, #d4d4d4, #ffffff); /* Firefox */
background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0, #d4d4d4), color-stop(1, #ffffff)); /* Saf4+, Chrome */
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#ffffff', StartColorStr='#d4d4d4'); /* IE*/
background-image:#d4d4d4;/*不支持渐变的浏览器*/
min-height:500px;
width:963px;
margin:2px auto;
padding:12px;
height:auto;
}
#content h1{
	font-size:24px;	
}
.specific{
	padding:20px 10px;
}


 /*footer end*/
/*topcontrol*/
.zzgj_fa .go2top, .zzgj_fa .fa, .zzgj_fa .in {
  background-image:url(http://www.sunnyi.cn/css/zzgj_topfa.gif);
  background-position:initial initial;
  background-repeat:no-repeat no-repeat;
  bottom:0;
  cursor:pointer;
  display:block;
  height:36px;
  left:50%;
  margin-left:550px;
  position:fixed;
  text-indent:-9999px;
  width:36px;
}
#topcontrol {
  bottom:0;
  cursor:pointer;
  height:36px;
  left:50%;
  position:fixed;
  width:36px;
}
.zzgj_fa .go2top {
  background-position:0 0;
  margin-bottom:150px;
}
.zzgj_fa .go2top:hover {
  background-position:-41px 0;
}
.zzgj_fa .fa {
  background-position:0 -41px;
  margin-bottom:191px;
}
.zzgj_fa .fa:hover {
  background-position:-41px -41px;
}
.zzgj_fa .in {
  background-position:0 -82px;
  margin-bottom:232px;
}
.zzgj_fa .in:hover {
  background-position:-41px -82px;
}
/*topcontrol end*/