

/*succeed信息提示*/
#succeed{
	background:transparent url(../image/tagsBack.gif) no-repeat scroll left top;
	height:160px;
	margin:100px auto 0 auto;
	width:328px;
	}
#succeed #registerOK{
	color:#339933;
	float:left;
	font-family:"SimHei";
	font-size:20px;
	margin:20px 0 0 0px;
	width:100%;
	}
#succeed #welcJoin{
	color:#999;
	float:left;
	margin:7px 0 0 10px;
	}
#succeed #welcJoin strong,#succeed #welcJoin a{
	color:#2774ad;
	}
#succeed #jump{
	clear:both;
	float:left;
	font-size:12px;
	margin:10px 0 0 10px;
	width:260px;
	}
#succeed #jump a{color:#999;}
