/*
	Pagination
*/

.pagination {
	z-index: 1000;
	position: absolute;
	bottom:10px;
	left: 300px;
	margin:0;
	width:200px;
}

.pagination .current a {
	background: url(../img/focus_dian_current.png) no-repeat;
}

.pagination li {
	float:left;
	margin:0 5px;
	list-style:none;
}

.pagination li a {
	float: left;
	width: 12px;
	height: 12px;
	overflow: hidden;
	padding: 0;
	border: none;
	line-height: 320px;
	background: url(../img/focus_dian.png) no-repeat;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	height:80px;
	padding:5px 20px 0 20px;
/*	background:#000;
	background:rgba(0,0,0,0.5);*/
	width:640px;
	color:#fff;
/*	border-top:1px solid #000;*/
	text-shadow:none;
	color: #fff;
	font-size:20px;
}

.caption>div{
	height: 60px;
	width: 640px;
	display: table-cell;
	vertical-align: middle;}
