﻿/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	vertical-align:baseline;
	font-family: "微软雅黑","黑体","宋体",HELVETICA;
	color:#1953a2;
    font-size:12px;
	letter-spacing:1px;
	}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
fieldest,img{border:0;}
ul,ol,dl{list-style:none;}
a{text-decoration:underline;}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
blockquote:before,blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
:focus{outline:0;}
/*reset end*/ 

/*global css*/
#body{
background-color:rgb(243,243,243);
background-image:url(../images/body_bg.gif);
background-repeat:repeat-y;
background-position:center 50%;
margin:0;
}
#header,#footer_pg,#head-bar{
  width:986px;
  margin:0px auto;
}
.clear{clear:both;}
a {
  color:#5c5d5f;
  text-decoration: none;
}
a:link {
  color:#5c5d5f;
  text-decoration: none;
}
a:visited {
  color:#32537E;
  text-decoration: none;
}
a:hover {
  color:#1953a2;
  text-decoration: none;
}
a:active {
  color:#5c5d5f;
  text-decoration: none;
}
/*global css end*/

/*header*/
.container{
	width: 986px !important;
	height: auto;
	margin: 0 auto;
	position: relative;
	background: white url(../images/background_slice_2.png) repeat-x;
}
.search-bar{
	margin-right: 10px;
}
#header{
	padding-top: 19px;
	padding-bottom: 3px;
}
#logo .flag{
	position: absolute;
	top: -2px;
	left: -14px;
	z-index: 9999;
}
#logo .campus{
	position: absolute;
	top: 25px;
	left: 100px;
}
.func{
	position: relative;
	margin-top: 5px;
	height: 10px;
}
ul.func-bar{
	position: relative;
	top: -10px;
	margin: 0px;
	padding: 0px;
}
ul.func-bar li{
	float: left;
}
ul.func-bar li a{
	text-decoration: none;
	position: relative;
	top: 2px;	
	padding: 2px 8px;
	font-size: 10px;
}
#nav{
	padding: 4px 150px;
}
ul.nav-bar{
	margin: 0px;
	padding: 0px;
	position: relative;
}
ul.nav-bar>li{
	float: left;
}
ul.nav-bar>li a:hover{
	background-color: #0081c2;
}
ul.nav-bar li a{
	display: block;
	text-decoration: none;
	padding: 5px 40px;
	text-align: center;
	font-size: 16px;	
	color: #ffffff;		
	font-family: 微软雅黑,Arial,宋体;
}
/*header end*/

/*head-bar*/
#head-bar{
  height:24px;
  background:rgb(236,236,236);
  margin:2px auto ;
}

#head-bar >span{float:left;}

#clock{
  background:url(../images/time-bg.jpg) no-repeat center;
  height:20px;
  width:290px;
  display:block;
  padding:0px 2px;
  text-indent:34px;
  color:#fff;
  line-height:20px;
}
#time{
  color:#fff;
  padding:4px 0;
  letter-spacing:0;
}

#search{
	display:block;
	height:20px;
	width:210px;
	position:relative;
	top:-8px;
	left:370px;
}
#search input{
height:19px;
padding:0 6px;

}
#search input[type=text]{
color:#5c5d5f;
font-size:12px;
}


#search input[type=text]:focus {
	border:1px solid #1953a2;
}

#login_box{
	background-color:#fff;
	background-image:url(../images/login_head_bg.jpg);
	background-repeat:no-repeat;
	height:184px;
	width:300px;
	position:fixed;
	z-index:999;
	top:30%;
	left:40%;
	opacity:0.9;
	border:solid 1px #c8c8c8;
}

.login input{
	border:none;
	height:30px;
	width:232px;
	line-height:30px;
	font-size:12px;
	color:#909090;
	background:none;
}
.login{
	background:#fdfdfd;
	height:30px;
	width:232px;
	margin:0 20px 15px;
	padding:0 14px;
	border-radius:2px;
	border:solid 1px #dcdcdc;
	box-shadow:inset 1px 1px 1px 0px #eaeaea;
}
.username{
	margin-top:50px;
}
.login_submit {
	display:block;
	height:24px;
	width:79px;
	padding:0;
	margin:16px 110px;
	cursor:pointer;
	border:none;
}
.login_close{
	display:block;
	height:20px;
	width:20px;
	padding:0;
	text-indent:-9999px;
	background:url(../images/login_close_bg.jpg) no-repeat center;
	position:absolute;
	top:2%;
	left:90%;
	cursor:pointer;
}
 /*head-bar end*/

 /*content*/
#content{

width:972px;
margin:10px auto 0;
padding:0 6px;
}

#main,#aside{
  border-color:#c9c9c9;

  border-width:1px;
  background:#fff;
}
#main{
  width:674px;
  height:472px;
  float:left;
}

#focus-map{
  float:left;
  width:332px;
   height:234px;
}
#news{
  float:left;
  padding:0px 6px 0 6px;
  margin:0 0 4px 6px;
  height:228px;
  width:316px;
  border-bottom:dotted rgb(220,220,220) 3px;
}
#news>h1{
text-indent:-9999px;
background:url(../images/news_h1_bg.jpg) no-repeat;
}
.new_school_list_item{
  height:22px;
  line-height:21px;
  font-size:12px;
  float:left;
  width:320px;
  padding:0 0 0 6px ;
  background:url(../images/icon_1.jpg) no-repeat center left;
}

.new_list{
	float:left;
	display:block;
	width:250px;
	height:21px;
	line-height:21px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.news_list_pic{color:rgb(180,40,10);}
.news_list_time{float:right;color:#898989;}
#rules{
  width:320px;
  height:210px;
  float:left;
  padding:4px 6px 0 ;
  margin-right:6px;
}
#rules>h1{
text-indent:-9999px;
background:url(../images/rules_h1_bg.jpg) no-repeat;}

.rule_list a{
  height:23px;
  padding:0 6px 0 13px;
  line-height:23px;
  font-size:12px;
  float:left;
  width:310px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  background:url(../images/icon_3.jpg) no-repeat center left;
}
#guide{
  float:left;
  height:224px;
  width:321px;
  padding:4px 6px 0 ;
}
#guide>h1{
text-indent:-9999px;
background:url(../images/guide_h1_bg.jpg) no-repeat;
}
.guide_list a{
  height:23px;
  padding:0 6px 0 13px;
  line-height:23px;
  font-size:12px;
  float:left;
  width:300px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  background:url(../images/icon_3.jpg) no-repeat center left;
}
#aside{
  height:472px;
  width:273px;
  float:left;
  margin-left:20px;
}

#anno,#feedback{
  width:256px;
  border:solid #eee 2px;
  padding:2px 6px;
}
.side_h2{
  text-indent:-9999px;
  height:29px;
  width:200px;
  float:left;
}
#anno >h2{background:url(../images/anno_h2_bg.jpg) no-repeat}
#anno{
  height:160px;
  margin-bottom:6px;
}
.anno_list {
	float:left;
	display:block;
	width:258px;
	height:20px;
	line-height:20px;
	border-bottom:dashed 1px #d4d4d4;
}
.anno_list a{
	float:left;
	display:block;
	width:216px;
	height:20px;
	line-height:20px;
	padding:0 0 0 6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.anno_time{float:right;color:#898989;}
.side_h2 > a{
text-indent:-9999px;
display:block;
height:29px;
width:100px;
}

#feedback{
  height:160px;
  margin-bottom:6px;
}
#feedback > h2{background:url(../images/feedback_h2_bg.jpg) no-repeat}
.feedback_list {
	float:left;
	display:block;
	width:258px;
	height:20px;
	line-height:20px;
	border-bottom:dashed 1px #d4d4d4;
}
.feedback_list a{
	float:left;
	display:block;
	width:248px;
	height:20px;
	line-height:20px;
	padding:0 0 0 6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#bottom_link{
  height:122px;
  background:url(../images/bottom_link_bg.jpg) no-repeat;
}
.bottom_link_list{
text-indent:-9999px;
float:left;
display:block;
height:122px;
width:91px;
}

.more-link{
  width:46px;
  height:20px;
  text-indent:-9999px;
  float:right;
  background:url(../images/more.gif) no-repeat center 7px;
}
#pic-show{
  height:21px;
  padding:0px 5px;
}
#pic-show >h3{
	background:url(../images/pic_show_bg.jpg) no-repeat;
}
#pic-show a{
  float:left;
}
.scroll_div {
  width:958px;
  height:150px;
  margin:0 auto;
  overflow: hidden;
  white-space: nowrap;
  background:none;
  text-align:center;
}
.scroll_div img {
  width:197px;
  height:131px;
  border: 0;
  margin: 5px 0px;
  padding:   2px;
  border:1px #8a8a8a solid;
}
#scroll_begin, #scroll_end, #scroll_begin ul, #scroll_end ul, #scroll_begin ul li, #scroll_end ul li{
  display:inline;
}/*设置ul和li横排*/

#link{
  height:96px;
  padding:4px 5px;
}
#link>h3{
	background:url(../images/link_bg.jpg) no-repeat;
}
#bottom h3{
	font-size:16px;
	height:20px;
	line-height:20px;
	text-indent:24px;
}
#sele1{
  color:#000;
  width:240px;
  height:24px;
  margin:8px 0;
  float:left;
}
#sele1>option{
  color:#000;
}
#sele2{
  color:#000;
  width:220px;
  height:24px;
  margin:4px 0;
  float:left;
}
#sele2>option{
  color:#000;
}
.out-link{
  float:right;
  position:relative;
  right:200px;

  display:block;
  width:88px;
  height:33px;
  text-indent:-9999px;
  margin:0px 6px;
}
#web-mana{background:url(../images/web_mana.jpg) no-repeat center;}
#sohu{background:url(../images/sohu.jpg) no-repeat center;}
#baidu{background:url(../images/baidu.jpg) no-repeat center;}
#uestc{background:url(../images/uestc.jpg) no-repeat center;}
#min-edu{background:url(../images/min_edu.jpg) no-repeat center;}
 /*content end*/

 /*footer*/
#footer_pg{
display:block;
height:93px;
background:url(../images/foot_bg.gif) repeat-x center;
border-style:solid;
border-color:#62a7cf;
border-width:2px 0 0;
margin:10px auto 0;
}
#footer_pg p{
  position:relative;
  top:20px;
  color:#aaaaaa;
  text-align:center;
  font-size:12px;
  line-height:18px;
  letter-spacing:0;
}
 /*footer end*/

 /*文章类分页包含分页公共部分*/
 #leftdiv{
	float: left;
	height: 470px;
	width: 242px;

	}



#update{
	width:241px;
	height:227px;
	margin:0 0 10px 0;
    }
#conv{
width:231px;
font-size:18px;
background-color:#fdfdfd;
margin:0px auto 10px;
border: solid #eee 1px;
border-radius: 5px;
box-shadow:-4px 5px 9px #eee;
}

#conv h1{
margin-left:23px;
padding:15px 0;
font-family:微软雅黑,Arial,宋体;
font-size:18px;
}

#conv  li{
list-style:none;
border-top: solid #d5e6f7 1px;
font-family:微软雅黑,Arial,宋体;
font-size:12px;
height:44px;
line-height:44px;
background: url(../images/conv_icon.png) no-repeat 9% 50%;

}

#conv li a{
color:#1953a2;
font-weight:normal;
text-decoration:none;
display:block;
padding-left:45px;
margin-right:-1px;
}

#conv li a:hover{
color: #FFFFFF;
font-weight:bold;
background:#1953a2 url(../images/conv_icon2.png) no-repeat 9% 50%;
}

#conv ul li:last-child a:hover{
	border-radius:0 0 5px 5px;
}
 /*左侧边栏 end*/

/*右侧边栏*/
#rightdiv{
	float:right;
	width:722px;
	min-height:448px;
	border-radius: 6px;
	border:solid #eee 2px;
	box-shadow:-4px 5px 9px #eee;
	}

#rightdiv>*{
	margin:0px 18px;
}

#rightdiv h1{
	display: block;
	font-size: 18px;
	line-height:1em;
	padding:15px 18px;
	margin:0 -2px 0 0;
	color:#fff;
	background:#2a91c3;
	border-radius:  6px 6px 0 0;
}

#crumbs {
border:2px solid #d5e6f7;
height:2.3em;
padding:0;
margin-bottom:15px;
margin-top:15px;
border-radius: 5px;
}
#crumbs li {
float:left;
line-height:2.3em;
padding-left:1.8em;
font-family:微软雅黑,Arial,宋体;
min-width:70px;
font-size:12px;
}
#crumbs li a {
display:block;
padding:0 15px 0 0;
background:url(../images/crumbs.gif) no-repeat right center;
}
#crumbs li a:link, #crumbs li a:visited {
text-decoration:none;
color:#1953a2;
}
#crumbs li a:hover, #crumbs li a:focus {
color:rgb(180,40,10);
}

#rightdiv >p{
   line-height:22px;
   color:#444;
   padding:0 8px;
   font-size:16px;
   text-indent:2em;
   font-family:宋体;
   margin-top:28px;
   margin-bottom:4px;
}
/*右侧边栏 end*/

/*新闻列表等列表类分页的css*/
.paging_news_list_item  {
	font-size:14px;
	font-family:微软雅黑,Arial,宋体;
	height:24px;
	line-height:24px;
	padding:1px 14px;
	margin-bottom:1px;
	background:url(../images/title_icon.jpg) no-repeat ;
	background-position:5px 10px;
	border-bottom:solid #d5e6f7 1px ;
}
.paging_news_list_item:nth-child(even){
	background-color:#eee;
}
.paging_news{
	display:block;
	float:left;
	max-width:436px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	*margin-top:-24px;
	*margin-left:75px;
}
.news_sort{
float:left;

}
.paging_news_list_pic{
color:rgb(180,40,10);
float:left;
*margin-top:-24px;
}

.paging_news_time{
   color:#898989;
   display:block;
   float:right;
   font-size:12px;
   *margin-top:-24px;
}
#page_num{
	padding:10px 0;  
	text-align:right;
}
#page_num > a{
	padding:0 0 0 5px;

}
#page_num > a:hover{text-decoration:underline;}

/*新闻列表等列表类分页的css* end*/

/*具体的新闻的css*/
.h2_title{
	font-size:initial;
	text-align:center;
	color:#444;
	padding:15px 0 13px;
	font-family:微软雅黑,Arial,宋体;
	line-height:0.8em;
}

#information{
	height:22px;
	line-height:22px;
	background:#eee;
	font-size:12px;
	font-family:微软雅黑,Arial,宋体;
	border-top:solid #d5e6f7 1px ;
	border-bottom:solid #d5e6f7 1px ;
	text-align:center;
	color:#888;
	margin-bottom:16px;
}
#information span{
padding:0 0 0 14px;
color:#666;
}

/*具体的新闻的css end*/

/*规章制度 服务指南类的分页的css*/
.paging_other_list_item  {
	font-size:14px;
	font-family:微软雅黑,Arial,宋体;
	height:24px;
	line-height:24px;
	padding:1px 14px;
	margin-bottom:1px;
	background:url(../images/title_icon.jpg) no-repeat ;
	background-position:5px 10px;
	border-bottom:solid #d5e6f7 1px ;
}

/*规章制度 服务指南类的分页的css end*/

/*访问留言的css*/

/*访问留言的css end*/
#submission{
	padding:20px;
}
#submission p{
	font-family:"微软雅黑", Arial, sans-serif;
	color:#000;
	font-size: 15px;
	margin-bottom: 18px;
}
#submission span{
	color: red;
	margin-left: 5px;
}
#submission input[type="submit"]{
	margin-top: 30px;
}
textarea {
	margin:10px 50px;

	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#ccc;

}
textarea:hover {
	border:1px solid #5af;
	color:#999;
}
textarea:focus {
	border:1px solid #fa5;
	color:#333;
}input[type=text] {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	line-height: 18px;
	height: 20px;
}
/*
input[type=text]:hover {
	border:1px solid #5af;
}
input[type=text]:focus {
	border:1px solid #fa5;
}
*/
input[type=submit]{
    width:auto;
	height:28px;
	padding:0 9px;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	border-color:#CCC;
	font-size:15px;
	cursor:pointer;
	font-family:"微软雅黑", Arial, sans-serif;
	color:#000;
}
input[type=submit]:hover{
	border-color:#6CF;
	color:#F30;
}

/*办事大厅的css*/
.bsdt-box {
	margin:10px 20px 0;
}
.bsdt-box ul{
	float:left;
	margin:0px 5px;
	width:310px;
	display:inline;
}
.bsdt-box ul li{
	line-height:28px;
	background: #EFE8D8;
	margin-top:2px;
	text-indent:20px;
}
/*办事大厅的css end*/

/*会议预约的css*/
#meeting_head{
margin: 16px 40px;
}

#meeting_head > .login{
	background:url(../images/meeting_login_bg.jpg) no-repeat;
	border:0;
	margin:0;
	padding:0;
	display:block;
	height:28px;
	width:108px;
	float: right;
	position: relative;
	top:-20px;
	font-size:12px;
	text-indent:-9999px;
}

.condition{
	font-size:14px;
	padding:0px 5px 0px ;
	font-family:"微软雅黑", Arial, sans-serif;
	color: #777;
}

.meeting_box{
 width:602px;
 margin:10px auto;
border:2px solid #e6e6e6;
border-bottom:1px solid #e6e6e6;
}

.meeting{
  border-collapse:collapse;
  width:602px;
  font-family:"微软雅黑", Arial, sans-serif;
  background: #fff;
}

.meeting_head{
height: 34px;
font-size:16px;
background-color:#f3f3f3;
vertical-align:middle;
background-image:url(../images/month_bg.jpg);
background-repeat:no-repeat;
background-position:40% 50%;
padding: 0 160px 0 260px;
color:#444;
}

.previous , .next{
float: right;
display: block;
height: 16px;
width: 40px;
font-size:10px;
padding:2px;
color:#777 ;
font-family:"微软雅黑", Arial, sans-serif;
}

.previous:hover , .next:hover{
text-decoration:underline;
}

.weekday{
text-align:center;
vertical-align:middle;
color: #1953a2;
height: 40px;
font-family:"微软雅黑", Arial, sans-serif;
font-size: 14px;
border-bottom:1px solid #e6e6e6;
}

.day{
height: 56px;
width:86px;
text-align:center;
vertical-align:middle;
font-size: 16px;
font-family:"微软雅黑", Arial, sans-serif;
border-right:1px solid #e6e6e6;
border-bottom:1px solid #e6e6e6;
color: #444;
}

.empty{
color: #9e9e9e;
text-align:center;
vertical-align:middle;
font-size: 16px;
font-family:"微软雅黑", Arial, sans-serif;

}

.free{
font-weight:bold;
color:  #1953a2;
}

.notfull {
color:  #1953a2;
font-weight:bold;
}

.notfull a{
color:#b4280a;
}

.big{
color:  #1953a2;
font-weight:bold;
}

.warn{
color:  #ff0000;
font-weight:bold;
}

.today{
	background:#f3f3f3;
	color:#b4280a;
	font-weight:bold;
}
.meeting div{
	padding: 4px 0 0;
}

.meeting_room{
	margin:5px auto;
	border-collapse:collapse;
	width:602px;
}

.meeting_room,.meeting_room th,.meeting_room td{
	border:1px solid #1953a2;
	text-align:center;
	font-size:20px;
	font-family:Helvetica Neue;
	background: #f3f3f3
}

.meeting_room th{
	height:30px;
	width:66px;
	vertical-align: middle;
}

.meeting_room td{
	height:70px;
	width:86px;
	vertical-align: middle;
}

.meeting_room a{
	display: table-cell;
	height:70px;
	border: none;
	width: 103px;
	vertical-align: middle;
	text-align:center;
	font-size:16px;
}

.meeting_list  {
	font-size:14px;
	font-family:Helvetica Neue;
	height:30px;
	line-height:30px;
	padding:0px 14px;
	margin-bottom:1px;
	background:url(../images/title_icon.jpg) no-repeat 10% 50%;
	background-position:5px 10px;
	border-bottom:solid #d5e6f7 1px ;
}

.meeting_list > a{
	padding:0px  50px;
}
/*会议预约的css end*/

