<include file="Public:header" />
  <div id="content">
    <include file="Service:left"/>
    <!--以下是右侧内容-->
    <div id="rightdiv" class="corner">
      <ul id="crumbs">
          <li>
              <a href="__APP__">首页</a>
          </li>
            <?php
             $length = count($typeList);
             foreach($typeList as $k => $v) {?>
             <?php if ($k+1 != $length) { ?>
                <li><a href="__URL__/index/?type=<?php echo $v['id'];?>"><?php echo $v['name'];?></a></li>
            <?php } else {?>
                <li><?php echo $v['name'];?></li>
            <?php } }?>
      </ul>
      <div class="service-list">
        <div class="accordion">
          <?php foreach ($result as $key => $value) {?>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_<?=$key?>">
                <span class="label label-info" style="font-size:14px;"><?=$value['name']?></span><span class="caret pull-right"></span>
                </a>
              </div>
              <div id="collapse_<?=$key?>" class="accordion-body collapse <?php if ($key == 0) {?>in<?php }?>">
                <div class="accordion-inner">
                  <?php $num = count($value['data']);
                        $rowNum = ceil($num / 2);
                        if ($rowNum > 0) {?>
                    <table class="table table-bordered table-striped">
                        <tbody>
                          <?php $k = 0;
                                for ($i=0; $i < $rowNum; $i++) {?>
                            <tr>
                              <?php for (; $k < ($i+1)*2; $k++) {?>
                                <td style="width:326px;">
                                  <div class="btn-group">
                                    <a href="#" style="font-size:12px;" class="dropdown-toggle item-tips" data-toggle="dropdown" data-placement="right" data-original-title="<?=$value['data'][$k]['title']?>" title="<?=$value['data'][$k]['title']?>"><?=msubstr($value['data'][$k]['title'],0,24)?></a>
                                    <?php $item = explode("|", $value['data'][$k]['item']);
                                          $url = explode("|", $value['data'][$k]['link']);
                                          $itemNum = count($item);?>
                                    <?php if ($itemNum > 0) {?>
                                      <ul class="dropdown-menu">
                                        <?php for ($j=0; $j < $itemNum; $j++) {?>
                                          <li><a href="<?=$url[$j]?>" style="font-size:12px;" target="_blank"><?=$item[$j]?></a></li>
                                        <?php }?>
                                      </ul>
                                    <?php }?>
                                  </div>
                                </td>
                              <?php }?>
                            </tr>
                          <?php }?>
                        </tbody>
                    </table>
                  <?php }?>
                </div>
              </div>
            </div>
          <?php }?>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
 <include file="Public:footer" />
