<include file="Public:header"/>
<script type="text/javascript">

	window.UEDITOR_HOME_URL = location.pathname.substr(0, location.pathname.lastIndexOf('/')) + '/';


function checkForm(){
    if(document.getElementById('title').value==""){
        alert("请填写完整信息");
		document.getElementById('title').focus();
        return false;
    }
    else if(document.getElementById('author').value==""){
        alert('请填写完整信息');
		document.getElementById('author').focus();
        return false;
    }
	else if(document.getElementById('source').value==""){
        alert('请填写完整信息');
		document.getElementById('source').focus();
        return false;
    }
	else if(document.getElementById('type').value==""){
        alert('请填写完整信息');
		document.getElementById('type').focus();
        return false;
    }
}
</script>
<script type="text/javascript" src="../Public/ueditor/editor_config.js"></script>
<script type="text/javascript" src="../Public/ueditor/editor.js"></script>
<link rel="stylesheet" href="../Public/ueditor/themes/default/ueditor.css">
  <div id="content">
  	<form name="contribute" action="__APP__/Publication/online_post" id="submission" class="corner" method="post">
  	    <input type="hidden" id="id" value="<?php echo $result['id'];?>" name="id" />
  	    <p>标题：<input type="text"  id="title" name="title" value="<?php echo $result['title'];?>" /><span>*</span></p>
  		<p>作者：<input type="text"  id="author" name="author" value="<?php echo $result['author'];?>" /><span>*</span></p>
  		<p>来源：<input type="text" id="source" name="source" value="<?php echo $result['source'];?>" /><span>*</span>(文章来源部门或学院)</p>
  		 <?php $result['show'] = false;  echo helper('get_all_article_type', $result);?><br>
       <p>如需上传附件请点击第二行图标<img src="../Public/images/attachment.png" /></p>
  		<script type="text/javascript">
                 var editor = new UE.ui.Editor();
                 editor.render('editor');
        </script>
        <script type="text/plain" id="editor" name="myContent" style="width:900px"><?php echo html_entity_decode($result['content']);?>欢迎投稿！</script>
        <input type="submit" value="提交" onclick="return checkForm();" />
    </form>
  </div>
<include file="Public:footer"/>
