<include file="Public:header" />
<script type="text/javascript" src="../Public/js/highslide-full.min.js"></script>
<link rel="stylesheet" type="text/css" href="../Public/css/highslide.css" />
<script type="text/javascript">
hs.graphicsDir = '../Public/css/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.fadeInOut = true;
hs.dimmingOpacity = 0.8;
hs.outlineType = 'rounded-white';
hs.captionEval = 'this.thumb.alt';
hs.marginBottom = 105; // make room for the thumbstrip and the controls
hs.numberPosition = 'caption';

// Add the slideshow providing the controlbar and the thumbstrip
hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	overlayOptions: {
		className: 'text-controls',
		position: 'bottom center',
		relativeTo: 'viewport',
		offsetY: -60
	},
	thumbstrip: {
		position: 'bottom center',
		mode: 'horizontal',
		relativeTo: 'viewport'
	}
});
</script>

 <div id="content">
<include file="Publication:left"/>
 <!--以下是右侧内容-->
    <div id="rightdiv" class="corner">
      <h1>
      <?php if ($typeList[1]['name']) {echo $typeList[1]['name'];}else {echo $typeList[0]['name'];}
      ?>
       </h1>
	  <div class="clear"></div>
      <?php if($result['type']!=0){ ?>
	  <h2 class="h2_title"><?php echo $result['title'];?></h2>
	  <div id="information"><span>作者：</span><?php echo $result['author'];?><span>来源：</span><?php echo $result['source'];?><span>时间：</span><?php echo date("Y-m-d",$result['time']);?><span>阅读：</span><?php echo $result['reads'];?></div>
      <?php } ?>
      <br />
      <?php echo html_entity_decode($result['content']);?>

    </div>
  <div class="clear"></div>
</div>
 <include file="Public:footer"/>