<include file="Public:header"/>
<div id="content">
    <include file="Publication:left"/>
    <!--以下是右侧内容-->
    <div id="rightdiv" class="corner">
		<ul id="crumbs">
			<li><a href="__APP__">首页</a></li>
            <?php
             $length = count($typeList);
             foreach($typeList as $k => $v) {?>
             <?php if ($k+1 != $length) { ?>
                <li><a href="__URL__/index/?type=<?php echo $v['id'];?>"><?php echo $v['name'];?></a></li>
            <?php } else {?>
                <li><?php echo $v['name'];?></li>
            <?php } }?>
</ul>
	  <div class="clear"></div>
        <br />
	  <ul>
      <?php foreach($result['result'] as $key => $value) { ?>
		<li class="paging_news_list_item"><span class="news_sort" style="margin-right: 5px;">[<?php if (!$value['type_name']){echo $typeList[0]['name'];}else{echo $value['type_name'];}?>]</span>&nbsp;&nbsp;&nbsp;<a class="paging_news" title="<?php echo $value['title'];?>" href="__APP__/<?php echo MODULE_NAME;?>/detail?id=<?php echo $value['id'];?>"><?php echo msubstr($value['title'],0,28);?></a><?php if($value['pic']==1){ ?><span class="paging_news_list_pic">[图]</span><?php } ?><span class="paging_news_time"><?php echo date("y-m-d",$value['time']);?></span></li>
	<?php } ?>
    	<!--最多一页拿取20条 否则溢出页面 -->
	  </ul>
      <br />
	  <div id="page_num"><?php echo $result['page'];?></div>
    </div>
  <div class="clear"></div>
</div>
<include file="Public:footer"/>