<div id="leftdiv">
      <div id="conv">
	  <h1>

 <?php echo $typeList[0]['name'];?>
        </h1>
		<div class="clear"></div>
        <ul>

<?php
if (!$nowType) {
    foreach($current as $key=>$value) { ?>
        <li><a href="__APP__/<?php echo MODULE_NAME;?>/detail?id=<?php echo $value['id'];?>" title="<?php echo $value['title'];?>" class="update_list"><?php echo msubstr($value['title'],0,10);?></a></li>

<?php } } else {
    foreach($nowType as $key => $value) { ?>
         <li><a href="__APP__/<?php echo MODULE_NAME;?>/index/?type=<?php echo $value['id'];?>"  class="update_list"><?php echo $value['name'];?></a></li>
<?php }
} ?>

        </ul>
      </div>

    </div>