<include file="Public:header"/>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
  <div class="content"><!--以下是content-->
    <div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<!-- Elastislide Carousel Thumbnail Viewer -->
                        <h1 style="font-size:24px; margin-left:22px; margin-top:10px;">沙河风采 >></h1>
						<div class="es-carousel-wrapper">
                          
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
									<li><a href="#"><img src="../Public/images/thumbs/1.jpg" data-large="../Public/images/a.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
									<li><a href="#"><img src="../Public/images/thumbs/2.jpg" data-large="../Public/images/b.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
									<li><a href="#"><img src="../Public/images/thumbs/3.jpg" data-large="../Public/images/c.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
									<li><a href="#"><img src="../Public/images/thumbs/4.jpg" data-large="../Public/images/d.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
					</ul>
							</div>
						</div>
						<!-- End Elastislide Carousel Thumbnail Viewer -->
					</div><!-- rg-thumbs -->
				</div><!-- rg-gallery -->
       
  </div><!--content结束--><script type="text/javascript" src="../Public/js/jquery.1.71.js"></script>
  <script type="text/javascript" src="../Public/js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="../Public/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../Public/js/jquery.elastislide.js"></script>
		<script type="text/javascript" src="../Public/js/gallery.js"></script>
<include file="Public:footer"/>