<include file="Public:header"/>

<title>相册 | 相册列表</title>
<script type="text/javascript" src="../Public/js/highslide-full.min.js"></script>
<link rel="stylesheet" type="text/css" href="../Public/css/highslide.css" />
<link rel="stylesheet" rev="stylesheet" href="../Public/css/37.css" type="text/css" media="screen" id="g_style">
<link rel="stylesheet" rev="stylesheet" href="../Public/css/photo_v3.css" type="text/css" media="screen">
</head>
<style>
    .page_albumlist .photo_layout {
padding-left: 25px;
overflow: hidden;
}
a{
    text-decoration: none !important;
}
#nav {
    padding: 4px 149px;
}

</style>
<script type="text/javascript">
hs.graphicsDir = '../Public/css/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.fadeInOut = true;
hs.dimmingOpacity = 0.8;
hs.outlineType = 'rounded-white';
hs.captionEval = 'this.thumb.alt';
hs.marginBottom = 105; // make room for the thumbstrip and the controls
hs.numberPosition = 'caption';

// Add the slideshow providing the controlbar and the thumbstrip
hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	overlayOptions: {
		className: 'text-controls',
		position: 'bottom center',
		relativeTo: 'viewport',
		offsetY: -60
	},
	thumbstrip: {
		position: 'bottom center',
		mode: 'horizontal',
		relativeTo: 'viewport'
	}
});
</script>

<!--
<script>
$(function(){
    $(".praise").click(function(){
        var doms=$(this);
       var id=$(this).attr('id');
        $.get('__APP__/Ajax/imageUp',{id:id},function(data){
            if(data==0){
                alert('error');
            }else if(data==1){
                doms.next('span').html( parseInt(doms.next('span').html())+1 );
            }else{
                return false;
            }
        });
    });
})
</script>
-->
<body >
<div id="content" style="height: auto;">

    <div class="mod_wrap_inner">
        <div class="bg2 bor3 qz_tab_v2">
            <div class="bd">
                <div id="tab_nav" class="qz_tab_v2_nav">
                    <ul>
                        <li id="nav_album" class="">
                            <a id="nav_a_album" href="__URL__/image"  title="相册" class="c_tx2 " tcisdkey="mine">相册</a>
                        </li>
                        <?php if($result['type'] > 1){ ?>
                        <li id="nav_marked" class="qzone-display">
                            <a id="nav_a_marked" href="###"  title="被圈照片" class="c_tx2 tcisd_home bg bor3"><?php echo $result['typeName'];?></a>
                        </li>
                        <?php } ?>
						<li id="nav_new" class="qzone-display">
                            <a id="nav_a_new" href="__URL__/imageList"  title="最新照片" class="c_tx2 <?php if($result['type'] <= 1){ ?>tcisd_home bg bor3<?php } ?>">最新照片</a>
                        </li>
                        <!-- 
						<li id="nav_marked" class="qzone-display">
                            <a id="nav_a_marked" href="#mod=marked"  title="被圈照片" class="c_tx2">被圈照片</a>
                        </li>
						<li id="nav_aboutme" class="" style="display:none">
                            <a id="nav_a_aboutme" href="#mod=aboutme"  title="关于我的照片" class="c_tx2">关于我的照片</a>
                        </li>
						<li id="nav_video" class="qzone-display">
                            <a id="nav_a_video" href="javascript:void(0);" title="我的视频" class="c_tx2">我的视频</a>
                        </li>
                         -->
                    </ul>
                </div>
                
            </div>
        </div> 
    </div>



    <div class="">
        
        <div class="mod_wrap_bd">
            <!-- 相册V6 | 相册列表-->
            <div class="photo_v3 page_albumlist" id="app_mod">
                
                <div class="clear photo_layout">
                
                
              
                    <div class="photo_layout_section" id="contianer_div" style="width: 860px; ">
						<!-- 相册列表 -->
						<div id="album_list_div" class="page_albumlist_mod_friendsphoto">
                            <div id="np_main_list">
                    <?php
                     $i=0;
                     foreach($result['result'] as $key=>$value){ 
                        if($i==4){
                            $i=0;
                        }
                        if($i==0){
                            
                        ?>
                            
                            <div>   
                                <div class="photo_list_in_v3" style="height: 300px; ">
                                    <ul >
                        <?php }
                        ?>
                                        <li class="photo_list_in_li" style="visibility: visible; left: <?php echo $i*220;?>px; top: 0px; ">
                                            <div class="bg3 bor3 photo_list_in_wrap">
                                                <div _totalindex="0" class="photo_list_in_main" style="display:block;width:180px;height:168px;">
                                                    <p class="photo_list_in_img">
                                                        <a class='highslide' title="<?php echo $value['title'];?>" href='<?php echo __ROOT__.'/'.$value['image'];?>' onclick="return hs.expand(this)">
                                                            <img _totalindex="0" alt="<?php echo $value['title'];?>" style="width: 200px;margin: 0px -10px; " src="<?php echo __ROOT__.'/'.$value['thumb'];?>"/>
                                                        </a>
                                                    </p>
                                                </div>
                                              <!--  <div class="photo_list_in_desc">
                                                    <p class="photo_list_in_desc_op">
                                                        <a class="bg6 c_tx photo_list_in_bt pop_postcomment" href="javascript:void(0);"  title="挖">挖</a>&nbsp;
                                                        <span class="bg3 bor2 photo_list_in_count c_tx3"><?php echo $value['comment'];?></span>&nbsp;   
                                                        <a _actionstatus="like" class="bg6 c_tx photo_list_in_bt praise" id="<?php echo $value['id'];?>" href="javascript:void(0);"  title="埋">埋</a>&nbsp;
                                                        <span class="bg3 bor2 photo_list_in_count c_tx3"><?php echo $value['up'];?></span>
                                                    </p>
                                                </div>
                                                -->
                                                <div class="bg2 photo_comment">
                                                    <div class="bd">
                                                        <ol>
                                                            <li class="bor2 photo_comment_li breakword">
                                                                <p>
                                                                    
                                                                    <span><?php echo $value['title'];?></span>
                                                                </p>
                                                            </li>
                                                           
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> 
                                 <?php 
                                 
                                 $i++;
                                 if($i==4 || count($result['result'])==$key+1){  ?>                     
                                    </ul>
                                </div>
                        </div>
                       <?php } 
                       
                       } ?>
                        
                        
                        
                        
                            
                            
                            </div>
                           
                        </div>
                         
                    </div>
                    
                    <span style="font-size: 20px;"><?php if($result['type'] >=0 ){ echo $result['page'];}?></span>
                </div>

            </div>
		
        </div>
    </div>
</div>
<include file="Public:footer"/>