<include file="Public:header"/>

<title>相册 | 相册列表</title>
<script type="text/javascript" src="../Public/js/highslide-full.min.js"></script>
<link rel="stylesheet" type="text/css" href="../Public/css/highslide.css" />
<link rel="stylesheet" rev="stylesheet" href="../Public/css/37.css" type="text/css" media="screen" id="g_style">
<link rel="stylesheet" rev="stylesheet" href="../Public/css/photo_v3.css" type="text/css" media="screen">
</head>
<style>
    .page_albumlist .photo_layout {
padding-left: 25px;
overflow: hidden;
}
a{
    text-decoration: none !important;
}
#nav {
    padding: 4px 149px;
}

</style>
<script type="text/javascript">
hs.graphicsDir = '../Public/css/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.fadeInOut = true;
hs.dimmingOpacity = 0.8;
hs.outlineType = 'rounded-white';
hs.captionEval = 'this.thumb.alt';
hs.marginBottom = 105; // make room for the thumbstrip and the controls
hs.numberPosition = 'caption';

// Add the slideshow providing the controlbar and the thumbstrip
hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	overlayOptions: {
		className: 'text-controls',
		position: 'bottom center',
		relativeTo: 'viewport',
		offsetY: -60
	},
	thumbstrip: {
		position: 'bottom center',
		mode: 'horizontal',
		relativeTo: 'viewport'
	}
});
</script>

<!--
<script>
$(function(){
    $(".praise").click(function(){
        var doms=$(this);
       var id=$(this).attr('id');
        $.get('__APP__/Ajax/imageUp',{id:id},function(data){
            if(data==0){
                alert('error');
            }else if(data==1){
                doms.next('span').html( parseInt(doms.next('span').html())+1 );
            }else{
                return false;
            }
        });
    });
})
</script>
-->
<body >
<div id="content" style="height: auto;">
    <div class="mod_wrap_inner">
        <div class="bg2 bor3 qz_tab_v2">
            <div class="bd">
                <div id="tab_nav" class="qz_tab_v2_nav">
                    <ul>
                        <li id="nav_album" class="">
                            <a id="nav_a_album" href="__URL__/image"  title="相册" class="c_tx2 tcisd_home bg bor3" tcisdkey="mine">相册</a>
                        </li>
                       
						<li id="nav_new" class="qzone-display">
                            <a id="nav_a_new" href="__URL__/imageList"  title="最新照片" class="c_tx2 ">最新照片</a>
                        </li>
                        <!-- 
						<li id="nav_marked" class="qzone-display">
                            <a id="nav_a_marked" href="#mod=marked"  title="被圈照片" class="c_tx2">被圈照片</a>
                        </li>
						<li id="nav_aboutme" class="" style="display:none">
                            <a id="nav_a_aboutme" href="#mod=aboutme"  title="关于我的照片" class="c_tx2">关于我的照片</a>
                        </li>
						<li id="nav_video" class="qzone-display">
                            <a id="nav_a_video" href="javascript:void(0);" title="我的视频" class="c_tx2">我的视频</a>
                        </li>
                         -->
                    </ul>
                </div>
                
            </div>
        </div> 
    </div>
<div class="">
    <div class="mod_wrap_bd">
      <div class="photo_v3 page_albumlist" id="app_mod">
      <div class="clear photo_layout">
      <div class="photo_layout_section" id="contianer_div" style="width: 860px; ">
         <div id="album_list_div" class="">
            <div class="clear photo_albumlist" id="album_list_div">
               <ul id="album_list_container">
<?php 
foreach($result as $key => $value) { ?>
                 <li >
                     <div class="bor2 photo_albumlist_bg bg"></div>
                     <div class="photo_albumlist_wrap">
                         <div class="bd bg bor2">
                             <p class="photo_albumlist_img">
                                 <a href="__URL__/imageList?type=<?php echo $value['value'];?>" class="tcisd_albumlist" >
                                 <img src="__ROOT__/<?php if($value['other'] == ""){echo "uploads/default.jpeg";}else{ echo $value['other'];}?>" style="width: 180px; height: 135px; margin-left: 0; margin-top: 0px;"></a>
                             </p>
                         </div>
	                     <div class="ft">
	                        <p class="photo_albumlist_name">
	                           <a title="<?php echo $value['name'];?>" href="" class="c_tx2" ><?php echo $value['name'];?></a>
	                         </p>
	                         <p class="c_tx3 photo_albumlist_photocount" style=""><?php echo $value['count'];?>张&nbsp;    <span class="limit"></span></p>
	                     </div>
                     </div>
                 </li> 
<?php } ?>
               
                 
              </ul>
            </div>
         </div>







</div></div></div></div></div></div>
<include file="Public:footer"/>
