<include file="Public:header"/>
<div id="content">
    <div id="main">
        <div id="focus-map">
            <script language='javascript'>
                        linkarr = new Array();
                        picarr = new Array();
                        textarr = new Array();
                        var swf_width=332;
                        var swf_height=230;
                        var files = "<?php foreach($result['pic_up'] as $key=>$value){ if($key+1<count($result['pic_up'])){ echo __ROOT__.'/'.$value['image']."|";}else{echo __ROOT__.'/'.$value['image'];}}?>";
                            var links = "<?php foreach($result['pic_up'] as $key=>$value){ if($key+1<count($result['pic_up'])){ echo $value['link']."|";}else{echo $value['link'];}}?>";

                            var texts ="<?php foreach($result['pic_up'] as $key=>$value){ if($key+1<count($result['pic_up'])){ echo $value['title']."|";}else{echo $value['title'];}}?>";
                        for(i=1;i<picarr.length;i++){
                            if(files=="") files = picarr[i];
                            else files += "|"+picarr[i];
                        }
                        for(i=1;i<linkarr.length;i++){
                            if(links=="") links = linkarr[i];
                            else links += "|"+linkarr[i];
                        }
                        for(i=1;i<textarr.length;i++){
                            if(texts=="") texts = textarr[i];
                            else texts += "|"+textarr[i];
                        }
                        document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
                        document.write('<param name="movie" value="../Public/images/indexpic.swf"><param name="quality" value="high">');
                        document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
                        document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'">');
                        document.write('<embed src="../Public/images/indexpic.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'& menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
        </script>
        </div>
        <div id="news">
            <h1>校区动态 >>></h1>
            <a class="more-link" href="__APP__/Publication/index?type=1" target="_blank">更多</a>
            <?php foreach($result['school'] as $key=>
            $value) { ?>
            <div class="new_school_list_item">
                <a class="new_list" target="_blank" href="__APP__/Publication/detail?id=<?php echo $value['id'];?>" style="color:<?php if($value['color']+3600*24 > time()){echo 'rgb(180,40,10);';}?>" title="<?php echo $value['title'];?>">
                    <?php echo $value['title'];?></a>
                <?php if($value['pic']==1){ ?>
                <span class="news_list_pic">[图]</span>
                <?php } ?>
                <span class="news_list_time">
                    <?php echo date("m-d",$value['time']);?></span>
            </div>
            <?php } ?></div>

        <div id="rules">
            <h1>规章制度 >>></h1>
            <a class="more-link" target="_blank" href="__APP__/Publication/index?type=2" target="_blank">更多</a>
            <?php foreach($result['rules'] as $key=>
            $value) { ?>
            <div class="rule_list">
                <a class="new_list" target="_blank"  href="__APP__/Publication/detail?id=<?php echo $value['id'];?>
                    " style="color:<?php if($value['color']+3600*24 > time()){echo 'rgb(180,40,10);';}?>"  title="<?php echo $value['title'];?>">
                    <?php echo $value['title'];?></a>
            </div>
            <?php } ?></div>
        <div id="guide">
            <h1>服务指南 >>></h1>
            <a class="more-link" target="_blank" href="__APP__/Publication/index?type=3" target="_blank">更多</a>
            <?php foreach($result['service'] as $key=>
            $value) { ?>
            <div class="guide_list">
                <a class="new_list" target="_blank"  href="__APP__/Publication/detail?id=<?php echo $value['id'];?>
                    " style="color:<?php if($value['color']+3600*24 > time()){echo 'rgb(180,40,10);';}?>" title="<?php echo $value['title'];?>">
                    <?php echo $value['title'];?></a>
            </div>
            <?php } ?></div>
    </div>
    <div id="aside">
        <div id="anno" class="corner">
            <h2 class="side_h2">
                <a href="#">信息公告</a>
            </h2>
            <a class="more-link" target="_blank" href="__APP__/Publication/index?type=4" target="_blank">更多</a>
            <?php foreach($result['notice'] as $key=>
            $value) { ?>
            <div class="anno_list">
            
                <a target="_blank"  href="__APP__/Publication/detail?id=<?php echo $value['id'];?>" style="color:<?php if($value['color']+3600*24 > time()){echo 'rgb(180,40,10);';}?>" title="<?php echo $value['title'];?>">
                    <?php echo $value['title'];?></a>
                <span class="anno_time">
                    <?php echo date("m-d",$value['time']);?></span>
            </div>
            <?php } ?></div>

        <div id="feedback" class="corner">
            <h2 class="side_h2">
                <a href="#">建议反馈</a>
            </h2>
            <a class="more-link" target="_blank" href="__APP__/Message" target="_blank">更多</a>
            <div class="clear"></div>
            <?php foreach($result['recommendation'] as $key=>
            $value){ ?>
            <div class="feedback_list">
                <a href="__APP__/Message" target="_blank"  title="<?php echo $value['content'];?>
                    ">
                    <?php echo msubstr($value['content'],0,15);?></a>
            </div>
            <?php } ?></div>
        <div id="bottom_link">
            <a href="__APP__/Index/meeting" class="bottom_link_list" title="会务预约" target="_blank">会务预约</a>
            <a href="__APP__/Service/index" class="bottom_link_list" title="办事大厅" target="_blank">办事大厅</a>
            <a href="http://map.uestc.edu.cn/?x=37003&y=50035" class="bottom_link_list" title="电子地图" target="_blank">电子地图</a>
        </div>

    </div>
    <div class="clear"></div>
    <div id="bottom">
        <div id="pic-show">
            <h3>
                <a href="__APP__/Index/image" target="_blank">魅力沙河</a>
            </h3>
            <div class="clear"></div>

        </div>
        <!--#####滚动区域#####-->
        <div id="scroll_div" class="scroll_div">
            <div id="scroll_begin">
                <ul>
                    <?php foreach($result['pic_down'] as $key=>
                    $value){ ?>
                    <li>
                        <a href="<?php if($value['link']==""){?>
                            __APP__/Index/imageList?type=<?php echo $value['type'];?>
                            <?php }else{ echo $value['link'];}?>
                            "
target="_blank" title="<?php echo $value['title'];?>">
                            <img src="__ROOT__/<?php echo $value['thumb'];?>" /></a>
                    </li>
                    <?php } ?></ul>
            </div>
            <div id="scroll_end"></div>
        </div>
        <!--#####滚动区域#####-->
        <div id="link">
            <h3>友情链接</h3>
            <div class="clear"></div>
            <script>
$(function(){
    $(".other_").change(function(){
        location.href=$(this).val();

    });
})
</script>
            <select id="sele1" class="other_" name="menu1" >
                <option value="#" selected="selected">--进入电子科技大学院系所--</option>
                <option value="http://www.scie.uestc.edu.cn/">通信与信息工程学院</option>
                <option value="http://www.ee.uestc.edu.cn/">电子工程学院</option>
                <option value="http://www.me.uestc.edu.cn">微电子与固体电子学院</option>
                <option value="http://www.pe.uestc.edu.cn/">物理电子学院</option>
                <option value="http://www.ccse.uestc.edu.cn/">计算机科学与工程学院</option>
                <option value="http://www.auto.uestc.edu.cn/">自动化工程学院</option>
                <option value="http://www.jxdz.uestc.edu.cn">机械电子工程学院</option>
                <option value="http://www.soei.uestc.edu.cn">光电信息学院</option>
                <option value="http://www.life.uestc.edu.cn">生命科学与技术学院</option>
                <option value="http://www.math.uestc.edu.cn/">数学科学学院</option>
                <option value="http://www.mgmt.uestc.edu.cn/">经济与管理学院</option>
                <option value="http://www.rw.uestc.edu.cn">政治与公共管理学院</option>
                <option value="http://www.fl.uestc.edu.cn">外国语学院</option>
                <option value="http://www.iaa.uestc.edu.cn">航空航天学院/空天科学技术研究院</option>
                <option value="http://www.sport.uestc.edu.cn/">体育部</option>
                <option value="http://www.ss.uestc.edu.cn">信息与软件工程学院(示范性软件学院)</option>
                <option value="http://www1.cduestc.cn">成都学院</option>
                <option value="http://www.zsc.edu.cn ">中山学院</option>
                <option value="http://riest.uestc.edu.cn/">电子科学技术研究院</option>
                <option value="http://www.ncl.uestc.edu.cn/">通信抗干扰技术国家级重点实验室</option>
                <option value="http://www.oice.uestc.edu.cn/">国际教育学院</option>
                <option value="http://www.ieie.uestc.edu.cn">东莞电子科技大学电子信息工程研究院</option>
                <option value="http://www.my.uestc.edu.cn/marxism/">马克思主义教育学院</option>
                <option value="http://www.yingcai.uestc.edu.cn">英才实验学院</option>
                <option value="http://www.energy.uestc.edu.cn">能源科学与工程学院</option>
                <option value="http://www.sre.uestc.edu.cn">资源与环境学院</option>
            </select>

            <a href="#" target="_blank" class="out-link" id="web-mana" title="网站维护">网站维护</a>
            <a href="http://www.sohu.com" target="_blank" class="out-link" id="sohu" title="搜狐">搜狐</a>
            <a href="http://www.baidu.com" target="_blank" class="out-link" id="baidu" title="百度">百度</a>
            <a href="http://www.uestc.edu.cn/" target="_blank" class="out-link" id="uestc" title="电子科技大学">电子科技大学</a>
            <a href="http://www.moe.edu.cn/" target="_blank" class="out-link" id="min-edu" title="教育部">教育部</a>
            <div class="clear"></div>
            <select id="sele2" name="select" class="other_" >
                <option value="#" selected="selected">--进入电子科技大学学校部门--</option>
                <option value="http://202.112.14.185/department/default.aspx?site=64">学校办公室</option>
                <option value="http://www.jjs.uestc.edu.cn">纪律检查委员会</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=66">党委组织部</option>
                <option value="http://202.112.14.185/department/default.aspx?site=67">党委宣传部</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=68">党委学生工作部</option>
                <option value="http://202.112.14.185/department/default.aspx?site=69">党委统战部</option>
                <option value="http://www.pd.uestc.edu.cn">人事处</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=71">教务处</option>
                <option value="http://www.rd.uestc.edu.cn">科技处</option>
                <option value="http://202.112.14.185/department/default.aspx?site=73">研究生院</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=93">合作发展部</option>
                <option value="http://202.112.14.185/department/default.aspx?site=74">计划财务处</option>
                <option value="http://202.112.14.185/department/default.aspx?site=75">国有资产与实验管理处</option>
                <option value="http://www.oice.uestc.edu.cn">国际合作与交流处</option>
                <option value="http://202.112.14.185/department/default.aspx?site=77">产业处</option>
                <option value="http://202.112.14.185/department/default.aspx?site=78">保卫处</option>
                <option value="http://202.112.14.185/department/default.aspx?site=79">继续教育学院</option>
                <option value="http://202.112.14.185/department/default.aspx?site=80">基建处</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=81">后勤管理处</option>
                <option value="http://202.112.14.185/department/default.aspx?site=82">离退休工作处</option>
                <option value="http://www.gh.uestc.edu.cn">校工会</option>
                <option value="http://202.112.14.185/department/default.aspx?site=84">校团委</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=85">信息中心</option>
                <option value="http://202.112.14.185/department/default.aspx?site=87">出版社</option>
                <option value="http://202.112.14.185/department/Default.aspx?site=88">学报编辑部</option>
                <option value="http://202.112.14.185/department/default.aspx?site=89">图书馆</option>
                <option value="http://202.112.14.185/department/default.aspx?site=90">档案馆</option>
                <option value="http://202.112.14.185/department/default.aspx?site=91">后勤集团</option>
                <option value="http://www.hospital.uestc.edu.cn">校医院</option>
                <option value="http://www.oice.uestc.edu.cn">国际教育学院</option>
                <option value="http://202.112.14.185/department/default.aspx?site=94">体育场馆管理中心</option>
				<option value="http://www.ncsc2013.uestc.edu.cn/">第十二届超导学术研讨会</option>
            </select>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="../Public/js/scro_images.js"></script>
<include file="Public:footer"/>