<script type="text/javascript" src="../Public/fancyBox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../Public/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<link rel="stylesheet" type="text/css" href="../Public/fancyBox/source/jquery.fancybox.css"/>

<script type="text/javascript">
  $(document).ready(function() {
    $("a#singleImg").fancybox();
    var config = {
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'speedIn'       :   600,
        'speedOut'      :   200,
        'overlayShow'   :   false
    };
    $("a.group1").fancybox(config);
    $("a.group2").fancybox(config);
    $("a.group3").fancybox(config);
  })  
</script>

<style type="text/css">
  .imgContent
  {
    margin-top: 10px;
    width:159;
    border: solid #eee 2px;
  }

  .imgContent img
  {
    height:86px;
    width:114px;
  }

  .meeting_desc
  {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid #eee 2px;
  }
</style>
<div id="leftdiv" class="corner" style="height:551px;width:260px;overflow-y:scroll;overflow-x:hidden;">
      <div id="marquee" style="width:238px;">
          <div class="part">
            <div class="meeting_desc">
              <h1>会议室322</h1>
              <p>
                最大容量： 35人</br>
                提供设备：投影幕布，茶水，纸杯</br>
                悬挂横幅尺寸：</br>
                &emsp;&emsp;&emsp;&emsp;① 靠窗一侧  8.7m * 0.7m</br>
                &emsp;&emsp;&emsp;&emsp;② 幕布对面 （只能用透明胶固定）6.8m * 0.7m
              </p>
            </div>
            <div class="imgContent">
                <a rel="group1" id="singleImg" href="../Public/meetingImg/322/DSC_2828.JPG"><img src="../Public/meetingImg/322/DSC_2828.JPG"/></a>
                <a rel="group1" id="singleImg" href="../Public/meetingImg/322/DSC_2829.JPG"><img src="../Public/meetingImg/322/DSC_2829.JPG"/></a>
                <a rel="group1" rel="group1" id="singleImg" href="../Public/meetingImg/322/DSC_2834.JPG"><img src="../Public/meetingImg/322/DSC_2834.JPG"/></a>
                <a rel="group1" id="singleImg" href="../Public/meetingImg/322/DSC_2845.JPG"><img src="../Public/meetingImg/322/DSC_2845.JPG"/></a>
                <a rel="group1" id="singleImg" href="../Public/meetingImg/322/DSC_2847.JPG"><img src="../Public/meetingImg/322/DSC_2847.JPG"/></a>
            </div>
          </div>

          <div class="part">
            <div class="meeting_desc">
              <h1>会议室324</h1>
              <p>
                最大容量： 24人</br>
                提供设备：投影幕布，茶水，纸杯</br>
                悬挂横幅尺寸：</br>
                &emsp;&emsp;&emsp;&emsp;① 靠窗一侧  7.5m * 0.7m
              </p>
            </div>
            <div class="imgContent">
                <a  rel="group2" id="singleImg" href="../Public/meetingImg/324/DSC_2808.JPG"><img src="../Public/meetingImg/324/DSC_2808.JPG"/></a>
                <a  rel="group2" id="singleImg" href="../Public/meetingImg/324/DSC_2810.JPG"><img src="../Public/meetingImg/324/DSC_2810.JPG"/></a>
                <a  rel="group2" id="singleImg" href="../Public/meetingImg/324/DSC_2811.JPG"><img src="../Public/meetingImg/324/DSC_2811.JPG"/></a>
                <a  rel="group2" id="singleImg" href="../Public/meetingImg/324/DSC_2812.JPG"><img src="../Public/meetingImg/324/DSC_2812.JPG"/></a>
            </div>
          </div>

          <div class="part">
            <div class="meeting_desc">
              <h1>会议室335</h1>
              <p>
                最大容量： 45人</br>
                提供设备：视频会议系统，茶水，纸杯</br>
                悬挂横幅尺寸：</br>
                &emsp;&emsp;&emsp;&emsp;① 靠窗一侧  11.5m * 0.7m</br>
                &emsp;&emsp;&emsp;&emsp;② 幕布对面  6.5m * 0.7m
              </p>
            </div>
            <div class="imgContent">
                <a  rel="group3" id="singleImg" href="../Public/meetingImg/335/DSC_2783.JPG"><img src="../Public/meetingImg/335/DSC_2783.JPG"/></a>
                <a  rel="group3" id="singleImg" href="../Public/meetingImg/335/DSC_2785.JPG"><img src="../Public/meetingImg/335/DSC_2785.JPG"/></a>
                <a  rel="group3" id="singleImg" href="../Public/meetingImg/335/DSC_2786.JPG"><img src="../Public/meetingImg/335/DSC_2786.JPG"/></a>
                <a  rel="group3" id="singleImg" href="../Public/meetingImg/335/DSC_2791.JPG"><img src="../Public/meetingImg/335/DSC_2791.JPG"/></a>
                <a  rel="group3" id="singleImg" href="../Public/meetingImg/335/DSC_2793.JPG"><img src="../Public/meetingImg/335/DSC_2793.JPG"/></a>
            </div>
          </div>
      </div>
</div>