<include file="Public:header" />
  <div id="content">
    <include file="Index:meetingLeft" />
    <!--以下是右侧内容-->
    <div id="rightdiv" class="corner" style="width:661px;">
      <h1>会务预约</h1>
	  <div class="clear"></div>
	     <?php echo $str;?>
    </div>
	 <div class="clear"></div>
	</div>
  <div class="clear"></div>
 {:W('ShowComment',array('count'=>5))}
 <script> 
$(document).ready(function(){
    $(".example9").click(function(){
        $('#order_form input[type="reset"]').trigger('click');
        $('#vedio_select').css('display', 'none');
        var dateTime = $(this).parent().next(".more_inf").find(".order_starts").val();
        $("#order_start").val(dateTime);    
        $("#contentOrder").html($(this).parent().next(".more_inf").html());      
    });
    $('#order_room').change(function() {
        if ($(this).val() == '335') {
            $('#vedio_select').css('display', 'block');
        } else {
            $('#vedio_select').css('display', 'none');
        }
    });
 });
 </script>
 <script type="text/javascript">
 function checkForm()
 {
     if(document.getElementById('order_room').value==""){
        alert("请选择预约会议室");
        document.getElementById('order_room').focus();
        return false;
    }
    else if(document.getElementById('order_time').value==""){
        alert("请选择会议时段");
        document.getElementById('order_time').focus();
        return false;
    }
    else if(document.getElementById('descript').value==""){
        alert("请选择参会人数");
        document.getElementById('descript').focus();
        return false;
    }
    else if(document.getElementById('phone_num').value.length<8){
        alert("请填写正确联系方式");
        document.getElementById('phone_num').focus();
        return false;
    }
    $("#order_form").submit();
 }
 </script>
<include file="Public:footer" />
