<include file="Public:header" />
	<div id="content">
		<include file="Publication:left" />
		<!--以下是右侧内容-->
		<div id="rightdiv" class="corner">
			<h1>取消预约</h1>
		<div class="clear"></div>
			<ul>
				<?php foreach ($result as $key => $value) { ?>
					<?php if(strtotime($value['order_start']) + 24*3600 >= time()) { ?>
						<li class="meeting_list">您于<?php echo $value['order_start'];?><?php echo GetOrderSel($value['order_sel']);?><?php echo GetOrderTime($value['order_time']);?>预约了<?php echo $value['order_room'];?>会议室&nbsp;&nbsp;<?php if($value['authority'] == 0) {?><strong>未审核</strong><?php } else {?><strong>已审核</strong><?php } ?><a style="color:red;" class="cancel" id="<?php echo $value['id'];?>" href="javascript:void(0);">取消预约</a></li>
					<?php } ?>
				<?php } ?>
			</ul>
		</div>
	 <div class="clear"></div>
	</div>
	<div class="clear"></div>

 <script type="text/javascript">
	var URL = '__URL__',
	APP = '__APP__',
	PUBLIC = '__PUBLIC__';
 </script>
 <script>
	$(document).ready(function() {
		$(".cancel").click(function(){
				if(confirm("确定取消该预约？")){
						$.get(URL+"/cancel",{
								id:this.id
						},function(data){
								if(data==1){
										alert("取消失败");
										location.reload();
								}
								else{
										alert("取消成功");
										location.reload();
								}
						})
				}
		});
	});
 </script>
<include file="Public:footer" />