/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	vertical-align:baseline;
	font-family:SimSun,SimHei,STHeiti,STSong,Microsoft YaHei;
	color:#1953a2;
    font-size:12px;
	letter-spacing:1px;
	}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
fieldest,img{border:0;}
ul,ol,dl{list-style:none;}
a{text-decoration:underline;}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
blockquote:before,blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
:focus{outline:0;}
/*reset end*/

/*global css*/
#body{
background-color:rgb(243,243,243);
background-image:url(../images/body_bg.gif);
background-repeat:repeat-y;
background-position:center 50%;
}
#header,#footer,#head-bar{
  width:986px;
  margin:0px auto;
}
.clear{clear:both;}
a {
  color:#5c5d5f;
  text-decoration: none;
}
a:link {
  color:#5c5d5f;
  text-decoration: none;
}
a:visited {
  color:#32537E;
  text-decoration: none;
}
a:hover {
  color:#1953a2;
  text-decoration: none;
}
a:active {
  color:#5c5d5f;
  text-decoration: none;
}
/*global css end*/

/*header*/
#header{
  height:245px;
  background:url(../images/header-bg.jpg) no-repeat bottom;
}
#nav{
  background:url(../images/nav-bg.jpg) repeat-x center;
  height:26px;
  border-color:#0b309e;
  border-style: solid;
  border-width:1px;
}
#jsnav
{	position:relative;
    left:24px;
    margin: 0;
	padding: 0;}

	#jsnav li
	{	float: left;
		list-style: none;
		}

	#jsnav li a
	{	display: block;
		background:url(../images/nav-a-bg.jpg) no-repeat left;
		padding: 2px 14px ;
		text-decoration: none;
		text-align:center;
		width: 78px;
		color: #e5e5e5;
		white-space: nowrap;
	    font-size:15px;
		font-family:微软雅黑,Arial,宋体;
	}

	#jsnav li a:hover
	{
		color:#fff;
    }

		#jsnav li ul
		{	margin: 0;
			padding: 0;
			position: relative;
			top:2px;
			left:15px;
			visibility: hidden;
		}

			#jsnav li ul li
			{	float: none;
				display: inline;
			}

			#jsnav li ul li a
			{   background: #272727;
			    width:66px;
				padding: 4px 4px;
				text-align:center;
				color: #fff;
				/*透明度*/
				filter:alpha(opacity=75);
				-moz-opacity:0.75;
				-khtml-opacity: 0.75;
				opacity: 0.75;
		    }

			#jsnav li ul li a:hover
			{	background: #272727;
			    color:#fff;
				/*透明度*/
				filter:alpha(opacity=90);
				-moz-opacity:0.9;
				-khtml-opacity: 0.9;
				opacity: 0.9;
			}
	#jsnav #none{
	  height:26px;
	  width:1px;
	  padding:0;
	}
/*header end*/

/*head-bar*/
#head-bar{
  height:24px;
  background:rgb(236,236,236);
  margin:2px auto ;
}

#head-bar >span{float:left;}

#clock{
  background:url(../images/time-bg.jpg) no-repeat center;
  height:20px;
  width:290px;
  display:block;
  padding:0px 2px;
  text-indent:34px;
  color:#fff;
  line-height:20px;
}
#time{
  color:#fff;
  padding:4px 0;
  letter-spacing:0;
}



#login_box{
	background-color:#fff;
	background-image:url(../images/login_head_bg.jpg);
	background-repeat:no-repeat;
	height:184px;
	width:300px;
	position:fixed;
	z-index:999;
	top:30%;
	left:40%;
	opacity:0.9;
	border:solid 1px #c8c8c8;
}

.login input{
	border:none;
	height:30px;
	width:232px;
	line-height:30px;
	font-size:12px;
	color:#909090;
	background:none;
}
.login{
	background:#fdfdfd;
	height:30px;
	width:232px;
	margin:0 20px 15px;
	padding:0 14px;
	border-radius:2px;
	border:solid 1px #dcdcdc;
	box-shadow:inset 1px 1px 1px 0px #eaeaea;
}
.username{
	margin-top:50px;
}
.login_submit {
	display:block;
	height:24px;
	width:79px;
	padding:0;
	text-indent:-9999px;
	background:url(../images/login_sub_bg.jpg) no-repeat;
	margin:16px 110px;
	cursor:pointer;
	border:none;
}
.login_close{
	display:block;
	height:20px;
	width:20px;
	padding:0;
	text-indent:-9999px;
	background:url(../images/login_close_bg.jpg) no-repeat center;
	position:absolute;
	top:2%;
	left:90%;
	cursor:pointer;
}
 /*head-bar end*/
/*content*/
#content{

width:972px;
margin:10px auto 0;
padding:0 6px;
}
h1{
float:left;
display:block;
width:252px;
font-size:18px;
height:30px;
font-family:"微软雅黑", Arial, sans-serif;
color:#000;
margin-bottom: 15px;
}
/*content end*/
 /*footer*/
#footer{
display:block;
height:93px;
background:url(../images/foot_bg.gif) repeat-x center;
border-style:solid;
border-color:#62a7cf;
border-width:2px 0 0;
margin:10px auto 0;
}
#footer p{
  position:relative;
  top:20px;
  color:#aaaaaa;
  text-align:center;
  font-size:12px;
  line-height:18px;
  letter-spacing:0;
}
 /*footer end*/



a {
	outline:0;
}
.send p{
	font-family:"微软雅黑", Arial, sans-serif;
	color:#000;
	font-size: 15px;
	margin-bottom: 18px;
}
input, select {
	font-size: 13px;
	line-height: 18px;
}
pre {
	margin:0px;
	white-space:pre-wrap;
	word-wrap:break-word;
}
.none {
	display:none;
}
.document {
	width:718px;
	height:auto;
	float:left;
	margin-top:8px;
}
.docucomm {
	width:676px;
	height:auto;
	float:left;
	background: #F6F6F6;
	border:1px solid #bdd;
	margin:4px 9px 9px 23px;
	padding:5px 11px 11px 11px;
}
.docucomm h4 {
	width:100%;
	height:22px;
	border-bottom:1px solid #cdd;
	color:#333;
	font-size:14px;
	line-height:22px;
}
.docucomm ul {
	width:100%;
}
.docucomm li {
	width:100%;
	height:auto;
	float:left;
	margin-top:6px;
	padding-bottom:6px;
	border-bottom:1px dashed #1953A2;;
}
.docucomm li .title {
	width:100%;
	height:20;
	float:left;
	color:#333;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
.docucomm li .info {
	width:100%;
	height:24px;
	float:left;
	color:#666;
	font-size:12px;
	line-height:24px;
}
.docucomm li .info .left {
	float:left;
}
.docucomm li .info .right {
	float:right;
}
.docucomm li .content {
	width:100%;
	height:auto;
	color:#333;
	font-size:13px;
	line-height:20px;
	text-indent:2em;
}
.docucomm .send {
	width:656px;
	height:auto;
	float:left;
	margin-top:9px;
	padding:3px 9px 9px 9px;
	background:#f5ffff;
	border:1px solid #bdd;
}
.docucomm .send .tit {
	width:100%;

	display:block;
	font-size:12px;
	line-height:25px;
}
.docucomm .send input[type=text] {
	width:200px;
	height:20px;
}
.docucomm .send textarea {
	width:654px;
	height:80px;
	overflow:hidden;
}
.docucomm .send .submit {
	width:72px;
	float:left;
	margin-top:9px;
	font-size:13px;
	font-weight:bold;
	line-height:22px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
}
input[type="submit"]{
	height:28px;
	padding:0 9px;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	border-color:#CCC;
	font-size:15px;
	cursor:pointer;
	font-family:"微软雅黑", Arial, sans-serif;
	color:#000;
	margin-top: 20px;
}
textarea {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#ccc;
	
}
textarea:hover {
	border:1px solid #5af;
	color:#999;
}
textarea:focus {
	border:1px solid #fa5;
	color:#333;
}input[type=text] {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	line-height: 18px;
	height: 20px;
}
input[type=text]:hover {
	border:1px solid #5af;
}
input[type=text]:focus {
	border:1px solid #fa5;
}

input[type=submit]:hover{
	border-color:#6CF;
	color:#F30;
}
