﻿/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	vertical-align:baseline;
	font-family:SimSun,SimHei,STHeiti,STSong,Microsoft YaHei;
	color:#1953a2;
    font-size:12px;
	letter-spacing:1px;
	}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
fieldest,img{border:0;}
ul,ol,dl{list-style:none;}
a{text-decoration:underline;}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
blockquote:before,blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
:focus{outline:0;}
/*reset end*/

/*global css*/
#body{
background-color:rgb(243,243,243);
background-image:url(../images/body_bg.gif);
background-repeat:repeat-y;
background-position:center 50%;
}
#header,#footer,#head-bar{
  width:986px;
  margin:0px auto;
}
.clear{clear:both;}
a {
  color:#5c5d5f;
  text-decoration: none;
}
a:link {
  color:#5c5d5f;
  text-decoration: none;
}
a:visited {
  color:#32537E;
  text-decoration: none;
}
a:hover {
  color:#1953a2;
  text-decoration: none;
}
a:active {
  color:#5c5d5f;
  text-decoration: none;
}
/*global css end*/

/*header*/
#header{
  height:245px;
  background:url(../images/header-bg.jpg) no-repeat bottom;
}
#nav{
  background:url(../images/nav-bg.jpg) repeat-x center;
  height:26px;
  border-color:#0b309e;
  border-style: solid;
  border-width:1px;
}
#jsnav
{	position:relative;
    left:24px;
    margin: 0;
	padding: 0;}

	#jsnav li
	{	float: left;
		list-style: none;
		}

	#jsnav li a
	{	display: block;
		background:url(../images/nav-a-bg.jpg) no-repeat left;
		padding: 2px 14px ;
		text-decoration: none;
		text-align:center;
		width: 78px;
		color: #e5e5e5;
		white-space: nowrap;
	    font-size:15px;
		font-family:微软雅黑,Arial,宋体;
	}

	#jsnav li a:hover
	{
		color:#fff;
    }

		#jsnav li ul
		{	margin: 0;
			padding: 0;
			position: relative;
			top:2px;
			left:15px;
			visibility: hidden;
		}

			#jsnav li ul li
			{	float: none;
				display: inline;
			}

			#jsnav li ul li a
			{   background: #272727;
			    width:66px;
				padding: 4px 4px;
				text-align:center;
				color: #fff;
				/*透明度*/
				filter:alpha(opacity=75);
				-moz-opacity:0.75;
				-khtml-opacity: 0.75;
				opacity: 0.75;
		    }

			#jsnav li ul li a:hover
			{	background: #272727;
			    color:#fff;
				/*透明度*/
				filter:alpha(opacity=90);
				-moz-opacity:0.9;
				-khtml-opacity: 0.9;
				opacity: 0.9;
			}
	#jsnav #none{
	  height:26px;
	  width:1px;
	  padding:0;
	}
/*header end*/

/*head-bar*/
#head-bar{
  height:24px;
  background:rgb(236,236,236);
  margin:2px auto ;
}

#head-bar >span{float:left;}

#clock{
  background:url(../images/time-bg.jpg) no-repeat center;
  height:20px;
  width:290px;
  display:block;
  padding:0px 2px;
  text-indent:34px;
  color:#fff;
  line-height:20px;
}
#time{
  color:#fff;
  padding:4px 0;
  letter-spacing:0;
}

#search{
	display:block;
	height:22px;
	width:300px;
	position:relative;
	top:1px;
	left:500px;
}

#search_input{
	height:15px;
	width:120px;
	overflow:hiden;
}

#search_sub{
	width:40px;
	height:22px;
}

#login_box{
	background-color:#fff;
	background-image:url(../images/login_head_bg.jpg);
	background-repeat:no-repeat;
	height:184px;
	width:300px;
	position:fixed;
	z-index:999;
	top:30%;
	left:40%;
	opacity:0.9;
	border:solid 1px #c8c8c8;
}

.login input{
	border:none;
	height:30px;
	width:232px;
	line-height:30px;
	font-size:12px;
	color:#909090;
	background:none;
}
.login{
	background:#fdfdfd;
	height:30px;
	width:232px;
	margin:0 20px 15px;
	padding:0 14px;
	border-radius:2px;
	border:solid 1px #dcdcdc;
	box-shadow:inset 1px 1px 1px 0px #eaeaea;
}
.username{
	margin-top:50px;
}
.login_submit {
	display:block;
	height:24px;
	width:79px;
	padding:0;
	text-indent:-9999px;
	background:url(../images/login_sub_bg.jpg) no-repeat;
	margin:16px 110px;
	cursor:pointer;
	border:none;
}
.login_close{
	display:block;
	height:20px;
	width:20px;
	padding:0;
	text-indent:-9999px;
	background:url(../images/login_close_bg.jpg) no-repeat center;
	position:absolute;
	top:2%;
	left:90%;
	cursor:pointer;
}
 /*head-bar end*/

 /*content*/
#content{

width:972px;
margin:10px auto 0;
padding:0 6px;
}
h1{
float:left;
display:block;
width:252px;
font-size:18px;
height:30px;
}

#main,#aside{
  border-color:#c9c9c9;

  border-width:1px;
  background:#fff;
}
#main{
  width:674px;
  height:472px;
  float:left;
}

#focus-map{
  float:left;
  width:332px;
   height:234px;
}
#news{
  float:left;
  padding:0px 6px 0 6px;
  margin:0 0 4px 6px;
  height:228px;
  width:316px;
  border-bottom:dotted rgb(220,220,220) 3px;
}
#news>h1{
text-indent:-9999px;
background:url(../images/news_h1_bg.jpg) no-repeat;
}
.new_school_list_item{
  height:22px;
  line-height:21px;
  font-size:12px;
  float:left;
  width:320px;
  padding:0 0 0 6px ;
  background:url(../images/icon_1.jpg) no-repeat center left;
}

.new_list{
	float:left;
	display:block;
	width:250px;
	height:21px;
	line-height:21px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.news_list_pic{color:rgb(180,40,10);}
.news_list_time{float:right;color:#898989;}
#rules{
  width:320px;
  height:210px;
  float:left;
  padding:4px 6px 0 ;
  margin-right:6px;
}
#rules>h1{
text-indent:-9999px;
background:url(../images/rules_h1_bg.jpg) no-repeat;}

.rule_list a{
  height:23px;
  padding:0 6px 0 13px;
  line-height:23px;
  font-size:12px;
  float:left;
  width:310px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  background:url(../images/icon_3.jpg) no-repeat center left;
}
#guide{
  float:left;
  height:224px;
  width:321px;
  padding:4px 6px 0 ;
}
#guide>h1{
text-indent:-9999px;
background:url(../images/guide_h1_bg.jpg) no-repeat;
}
.guide_list a{
  height:23px;
  padding:0 6px 0 13px;
  line-height:23px;
  font-size:12px;
  float:left;
  width:300px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  background:url(../images/icon_3.jpg) no-repeat center left;
}
#aside{
  height:472px;
  width:273px;
  float:left;
  margin-left:20px;
}

#anno,#feedback{
  width:256px;
  border:solid #eee 2px;
  padding:2px 6px;
}
.side_h2{
  text-indent:-9999px;
  height:29px;
  width:200px;
  float:left;
}
#anno >h2{background:url(../images/anno_h2_bg.jpg) no-repeat}
#anno{
  height:160px;
  margin-bottom:6px;
}
.anno_list {
	float:left;
	display:block;
	width:258px;
	height:20px;
	line-height:20px;
	border-bottom:dashed 1px #d4d4d4;
}
.anno_list a{
	float:left;
	display:block;
	width:216px;
	height:20px;
	line-height:20px;
	padding:0 0 0 6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.anno_time{float:right;color:#898989;}
.side_h2 > a{
text-indent:-9999px;
display:block;
height:29px;
width:100px;
}

#feedback{
  height:160px;
  margin-bottom:6px;
}
#feedback > h2{background:url(../images/feedback_h2_bg.jpg) no-repeat}
.feedback_list {
	float:left;
	display:block;
	width:258px;
	height:20px;
	line-height:20px;
	border-bottom:dashed 1px #d4d4d4;
}
.feedback_list a{
	float:left;
	display:block;
	width:248px;
	height:20px;
	line-height:20px;
	padding:0 0 0 6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#bottom_link{
  height:122px;
  background:url(../images/bottom_link_bg.jpg) no-repeat;
}
.bottom_link_list{
text-indent:-9999px;
float:left;
display:block;
height:122px;
width:91px;
}

.more-link{
  width:46px;
  height:20px;
  text-indent:-9999px;
  float:right;
  background:url(../images/more.gif) no-repeat center 7px;
}
#pic-show{
  height:21px;
  padding:0px 5px;
}
#pic-show >h3{
	background:url(../images/pic_show_bg.jpg) no-repeat;
}
#pic-show a{
  float:left;
}
.scroll_div {
  width:958px;
  height:150px;
  margin:0 auto;
  overflow: hidden;
  white-space: nowrap;
  background:none;
  text-align:center;
}
.scroll_div img {
  width:197px;
  height:131px;
  border: 0;
  margin: 5px 0px;
  padding:   2px;
  border:1px #8a8a8a solid;
}
#scroll_begin, #scroll_end, #scroll_begin ul, #scroll_end ul, #scroll_begin ul li, #scroll_end ul li{
  display:inline;
}/*设置ul和li横排*/

#link{
  height:96px;
  padding:4px 5px;
}
#link>h3{
	background:url(../images/link_bg.jpg) no-repeat;
}
#bottom h3{
	font-size:16px;
	height:20px;
	line-height:20px;
	text-indent:24px;
}
#sele1{
  color:#000;
  width:240px;
  height:24px;
  margin:8px 0;
  float:left;
}
#sele1>option{
  color:#000;
}
#sele2{
  color:#000;
  width:220px;
  height:24px;
  margin:4px 0;
  float:left;
}
#sele2>option{
  color:#000;
}
.out-link{
  float:right;
  position:relative;
  right:200px;

  display:block;
  width:88px;
  height:33px;
  text-indent:-9999px;
  margin:0px 6px;
}
#web-mana{background:url(../images/web_mana.jpg) no-repeat center;}
#sohu{background:url(../images/sohu.jpg) no-repeat center;}
#baidu{background:url(../images/baidu.jpg) no-repeat center;}
#uestc{background:url(../images/uestc.jpg) no-repeat center;}
#min-edu{background:url(../images/min_edu.jpg) no-repeat center;}
 /*content end*/

 /*footer*/
#footer{
display:block;
height:93px;
background:url(../images/foot_bg.gif) repeat-x center;
border-style:solid;
border-color:#62a7cf;
border-width:2px 0 0;
margin:10px auto 0;
}
#footer p{
  position:relative;
  top:20px;
  color:#aaaaaa;
  text-align:center;
  font-size:12px;
  line-height:18px;
  letter-spacing:0;
}
 /*footer end*/

 /*文章类分页包含分页公共部分*/
 #leftdiv{
	float: left;
	height: 470px;
	width: 242px;

	}
#leftdiv h1{
    display:block;
	font-size:16px;
	border-bottom:dashed #eee 2px;
	line-height:28px;
	height:28px;
	width:230px;
	text-indent:34px;
	font-family:微软雅黑,Arial,宋体;
	color:rgb(25 79 151);
	}

.corner{border:solid #eee 2px;}

#update{
	width:232px;
	height:227px;
	background:#FFF;
	padding:0 8px;
	margin:0 0 10px 0;
    }
#update h1{background:url(../images/update_smile.jpg) no-repeat 8px center;}
.update_list{
   display:block;
   height:20px;
   line-height:20px;
   padding:0 10px;
   max-width:220px;
   overflow:hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
}
#update ul{margin-top:6px;}

#quicklink{
	width:232px;
	height:227px;
	background:#FFF;
	padding:0 8px;
    }
#quicklink h1{background:url(../images/quicklink_go.jpg) no-repeat 8px center;}
 /*左侧边栏 end*/

/*右侧边栏*/
#rightdiv{
	float:right;
	width:686px;
	min-height:448px;
	/*max-height:700px;*/
	padding:10px;
	}
#rightdiv h1{
	font-size:18px;
	line-height:24px;
	height:24px;
	padding:0 8px;
	color:rgb(25 79 151);
	font-family:微软雅黑,Arial,宋体;
	clear:both;
	}
#rightdiv >p{
   line-height:20px;
   color:#444;
   padding:16px 8px 0;
   font-size:14px;
   text-indent:2em;
   font-family:Helvetica Neue;
}
/*右侧边栏 end*/

/*新闻列表等列表类分页的css*/
#rightdiv >ul{
	padding:28px 8px 20px;
}
.paging_news_list_item  {
	font-size:14px;
	font-family:Helvetica Neue;
	height:24px;
	line-height:24px;
	padding:1px 14px;
	margin-bottom:1px;
	background:url(../images/title_icon.jpg) no-repeat ;
	background-position:5px 10px;
	border-bottom:solid #d5e6f7 1px ;
}
.paging_news_list_item:nth-child(even){
	background-color:#eee;
}
.paging_news{
	display:block;
	float:left;
	max-width:436px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.paging_news_list_pic{
color:rgb(180,40,10);
float:left;
}
.paging_news_author{
   color:#898989;
   display:block;
   float:right;
   width:130px;
}
.paging_news_time{
   color:#898989;
   display:block;
   float:right;
   font-size:12px;
}
#page_num{
	text-indent:170px;
}
#page_num > a{
	padding:0 0 0 20px;

}
#page_num > a:hover{text-decoration:underline;}

/*新闻列表等列表类分页的css* end*/

/*具体的新闻的css*/
.h2_title{
	font-size:18px;
	text-align:center;
	color:#444;
	padding:15px 0 5px;
	font-family:Helvetica Neue;
}

#information{
	height:22px;
	line-height:22px;
	background:#eee;
	font-size:12px;
	font-family:Helvetica Neue;
	border-top:solid #d5e6f7 1px ;
	border-bottom:solid #d5e6f7 1px ;
	text-align:center;

	color:#888;
}
#information span{
padding:0 0 0 14px;
color:#666;
}

/*具体的新闻的css end*/

/*规章制度 服务指南类的分页的css*/
.paging_other_list_item  {
	font-size:14px;
	font-family:Helvetica Neue;
	height:24px;
	line-height:24px;
	padding:1px 14px;
	margin-bottom:1px;
	background:url(../images/title_icon.jpg) no-repeat ;
	background-position:5px 10px;
	border-bottom:solid #d5e6f7 1px ;
}

/*规章制度 服务指南类的分页的css end*/

/*访问留言的css*/

/*访问留言的css end*/
#submission{
	padding:20px;
}
#submission p{
	font-family:"微软雅黑", Arial, sans-serif;
	color:#000;
	font-size: 15px;
	margin-bottom: 18px;
}
#submission span{
	color: red;
	margin-left: 5px;
}
#submission input[type="submit"]{
	margin-top: 30px;
}
textarea {
	margin:10px 50px;

	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#ccc;

}
textarea:hover {
	border:1px solid #5af;
	color:#999;
}
textarea:focus {
	border:1px solid #fa5;
	color:#333;
}input[type=text] {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	line-height: 18px;
	height: 20px;
}
input[type=text]:hover {
	border:1px solid #5af;
}
input[type=text]:focus {
	border:1px solid #fa5;
}
input[type=submit]{
    width:auto;
	height:28px;
	padding:0 9px;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	border-color:#CCC;
	font-size:15px;
	cursor:pointer;
	font-family:"微软雅黑", Arial, sans-serif;
	color:#000;
}
input[type=submit]:hover{
	border-color:#6CF;
	color:#F30;
}

/*办事大厅的css*/
.bsdt-box {
	margin:10px 20px 0;
}
.bsdt-box ul{
	float:left;
	margin:0px 5px;
	width:310px;
	display:inline;
}
.bsdt-box ul li{
	line-height:28px;
	background: #EFE8D8;
	margin-top:2px;
	text-indent:20px;
}
/*办事大厅的css end*/

/*会议预约的css*/
#meeting_head{
	background:url(../images/month_bg.jpg) no-repeat 7% 40%;
	font-size:20px;
	color:#444;
	padding:15px 0 20px 80px;
	font-family:Helvetica Neue;

}

#meeting_head  > a{
	font-size:10px;
}

#meeting_head  a:hover{text-decoration:underline;}

#meeting_head > .login{
	background:url(../images/meeting_login_bg.jpg) no-repeat;
	border:0;
	margin:0;
	padding:2px 0 0 20px;
	display:block;
	height:20px;
	width:50px;
	position:absolute;
	right:270px;
	top:310px;
	font-size:12px;
	box-shadow:none;
}

.condition{
	font-size:12px;
	padding:0px 5px 0px 130px;

}

.meeting{
  margin:10px auto;
  border-collapse:collapse;
  width:602px;
}

.meeting,.meeting th,.meeting td{
	border:1px solid #1953a2;
	text-align:center;
	font-size:20px;
	font-family:Helvetica Neue;
	background: #f3f3f3
}

.meeting th{
	height:30px;
	width:86px;
	padding: 5px 0 0;
}
.meeting td{
	height:50px;
	width:86px;
}

.meeting span{
	font-size:14px;

}

.meeting a{
	display:block;
	height:50px;
	padding: 4px 0 ;
}

.free{
	background: #f3f3f3;
}

.free:hover{
	background: #e7e7e7;
	text-decoration:underline;
}

.full{
	background: #e0e0e0;
}

.meeting div{
	padding: 4px 0 0;
}

.weekend a,.weekend,.weekday div{

}

.weekday a,.weekday,.weekday div{
	color: #bc5016;

}

.meeting_room{
	margin:10px auto;
	border-collapse:collapse;
	width:602px;
}

.meeting_room,.meeting_room th,.meeting_room td{
	border:1px solid #1953a2;
	text-align:center;
	font-size:20px;
	font-family:Helvetica Neue;
	background: #f3f3f3
}

.meeting_room th{
	height:30px;
	width:66px;
	vertical-align: middle;
}

.meeting_room td{
	height:70px;
	width:86px;
	vertical-align: middle;
}

.meeting_room a{
	display: table-cell;
	height:70px;
	border: none;
	width: 103px;
	vertical-align: middle;
	text-align:center;
	font-size:16px;
}

.meeting_list  {
	font-size:14px;
	font-family:Helvetica Neue;
	height:30px;
	line-height:30px;
	padding:0px 14px;
	margin-bottom:1px;
	background:url(../images/title_icon.jpg) no-repeat 10% 50%;
	background-position:5px 10px;
	border-bottom:solid #d5e6f7 1px ;
}

.meeting_list > a{
	padding:0px  50px;
}
/*会议预约的css end*/

